.contact {
  margin: -70px;
  min-height: 110vh;

  & .title-contact {
    background: white;
    width: 40%;
    height: 100px;
    border: 2px solid $color-border;
    margin: 40px auto;
    display: flex;
    justify-content: center;
    align-items: center;

    & h1 {
      font-family: $font-logo;
      font-size: 3rem;
      color: $color-btn;
      text-transform: capitalize;
      letter-spacing: 8px;
    }
  }

  .form-container {
    position: relative;

    & .form-contact {
      display: grid;
      justify-content: space-evenly;
      align-items: center;
      text-align: center;
      padding: 30px;

      & label {
        display: flex;
        text-align: left;
        margin: 10px auto;
        font-family: $font-title;
        color: $color-nav;
        text-transform: uppercase;
        font-size: 1.6rem;
        letter-spacing: 7px;
        font-weight: lighter;
        text-decoration: 1px underline;
        text-decoration-color: $color-border;
        text-underline-offset: 5px;
      }
      & textarea {
        resize: none;
        width: 100%;
        height: 200px;
        padding: 10px 10px;
        text-align: left;
        border: 2px solid $color-border;
        background: rgb(255, 255, 255);
        font-family: $font-title;
        letter-spacing: 2px;
        transition: 0.5s ease;
      }
      & textarea:focus {
        background: rgb(0, 0, 0);
        color: $color-border;
        transition: 0.2s;
        font-size: 1.2rem;
        font-family: $font-title;
        letter-spacing: 2px;
        transition: 0.5s ease;
      }

      & input {
        &[type="text"] {
          width: 400px;
          height: 50px;
          text-align: left;
          padding: 0 10px;
          border: 2px solid $color-border;
          background: rgb(255, 255, 255);
          font-family: $font-title;
          letter-spacing: 2px;
          transition: 0.5s;
        }
        &[type="email"] {
          width: 400px;
          height: 50px;
          text-align: left;
          padding: 0 10px;
          border: 2px solid $color-border;
          background: rgb(255, 255, 255);
          font-family: $font-title;
          letter-spacing: 2px;
          transition: 0.5s;
        }
      }
      input:focus {
        &[type="text"] {
          background: rgb(0, 0, 0);
          color: $color-border;
          transition: 0.2s;
          font-size: 1.2rem;
          font-family: $font-title;
          letter-spacing: 2px;
          transition: 0.5s ease;
        }
        &[type="email"] {
          background: rgb(0, 0, 0);
          color: $color-border;
          transition: 0.2s;
          font-size: 1.2rem;
          font-family: $font-title;
          letter-spacing: 2px;
          transition: 0.5s ease;
        }
      }
      & button {
        margin: 20px auto;
        width: 200px;
        height: 60px;
        border: 2px solid $color-border;
        background: white;
        font-family: $font-title;
        text-transform: uppercase;
        font-size: 2rem;
        letter-spacing: 3px;
        color: $color-btn;
        transition: 0.5s ease;
      }
      & button:hover {
        cursor: pointer;
        background: rgb(0, 0, 0);
        text-decoration: 1px underline;
        text-decoration-color: $color-border;
        text-underline-offset: 8px;
        transition: 0.5s ease;
      }
    }
  }
  & .form-container::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: -1px;
    width: 50%;
    height: 1px;
    margin: 0 auto;
    transform: translateX(50%) scale(0);
    background: $color-border;
    animation: before 3s ease-in-out forwards;
  }
}

//* Media screen //
// Grand Ecran pc - TV (1440px et plus)//
// 1439px - 1201px Ecran Pc //
// Petit ecran et pc 769px — 1024px //
@media screen and (max-width: 1024px) {
  section.contact {
    & .title-contact {
      width: 300px;
      height: 100px;
      & h1 {
        font-family: $font-logo;
        font-size: 2rem;
        color: $color-btn;
        letter-spacing: 1px;
      }
    }
  }
}
// tablette 481px — 768px //
@media screen and (max-width: 768px) {
  section.contact {
    & .title-contact {
      width: 300px;
      height: 100px;
      & h1 {
        font-family: $font-logo;
        font-size: 2rem;
        color: $color-btn;
        letter-spacing: 1px;
      }
    }
    & button:hover {
      cursor: none;
      background: white;
      text-decoration: none;
    }
  }
}

// Telephone 320px —480px //
@media screen and (max-width: 480px) {
  section.contact {
    & .title-contact {
      width: 250px;
      height: 100px;
      & h1 {
        font-family: $font-logo;
        font-size: 2rem;
        color: $color-btn;
        letter-spacing: 1px;
      }
    }
    .form-container {
      position: relative;

      & .form-contact {
        & label {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 10px auto;
          font-family: $font-title;
          color: $color-nav;
          text-transform: uppercase;
          font-size: 1rem;
          letter-spacing: 7px;
          font-weight: lighter;
          text-decoration: 1px underline;
          text-decoration-color: $color-border;
          text-underline-offset: 5px;
        }
        & button {
          margin: 20px auto;
          width: 150px;
          height: 40px;
          font-size: 1.5rem;
        }
        & button:hover {
          cursor: none;
          background: white;
          text-decoration: none;
        }
        & textarea {
          width: 300px;
        }

        & input {
          &[type="text"] {
            width: 300px;
          }
          &[type="email"] {
            width: 300px;
          }
        }
      }
    }
  }
}
