header {
  min-height: 100vh;
  background: url("../../../assets/images/header.jpg") center/contain no-repeat;
  background-size: 100% auto;
  margin: 20px 30px;
  border: 2px solid $color-border;
  position: relative;
  opacity: 0;
  transform: translateY(150px);
  animation: headerAnim 2s forwards;

  @keyframes headerAnim {
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  & .title-container {
    width: 80%;
    height: 30vh;
    padding: 40px;
    text-align: left;
    color: white;

    & h1 {
      font-family: $font-logo;
      font-size: 9em;
      letter-spacing: 10px;
      text-transform: capitalize;
      font-weight: 100;
      text-shadow: -9px 13px 8px rgb(0, 0, 0);
    }
    & h5 {
      font-family: $font-logo;
      letter-spacing: 7px;
      font-size: 2em;
      font-weight: 100;
      text-shadow: -9px 13px 5px rgb(0, 0, 0);
    }
  }

  & button {
    position: absolute;
    bottom: 10%;
    margin: 150px;
    width: 250px;
    height: 70px;
    font-size: 2rem;
  }

  & button:hover {
    cursor: pointer;
    background: black;
    text-decoration: underline;
    transition: 0.5s;
  }

  & button a:link {
    text-decoration: none;
    color: $color-btn;
  }
  & button a:visited {
    text-decoration: none;
    color: $color-btn;
  }
}

header::after {
  content: "";
  position: absolute;
  bottom: -20px;
  width: 50%;
  height: 1px;
  transform: translateX(50%) scale(0);
  background: $color-border;
  animation: before 3s ease-in-out forwards;
}

//* MEDIA SCREEN //
@media screen and (max-width: 1480px) {
  header {
    min-height: 80vh;

    & .title-container {
      height: 30vh;
      padding: 40px;

      & h1 {
        font-size: 7.5rem;
      }
      & h5 {
        font-size: 2em;
      }
    }
    & button {
      bottom: 10%;
      margin: 100px;
    }
  }
}
@media screen and (max-width: 1200px) {
  header {
    min-height: 70vh;

    & .title-container {
      height: 30vh;
      padding: 40px;

      & h1 {
        font-size: 4.8rem;
      }
      & h5 {
        font-size: 2em;
      }
    }
    & button {
      bottom: 10%;
      margin: 100px;
      width: 180px;
      height: 60px;
      font-size: 1.5rem;
    }
  }
}
@media screen and (max-width: 1044px) {
  header {
    min-height: 60vh;

    & .title-container {
      height: 30vh;
      padding: 40px;

      & h1 {
        font-size: 4.8rem;
      }
      & h5 {
        font-size: 1.7em;
      }
    }
    & button {
      bottom: 10%;
      margin: 100px;
      width: 180px;
      height: 60px;
      font-size: 1.5rem;
    }
  }
}
@media screen and (max-width: 900px) {
  header {
    min-height: 50vh;

    & .title-container {
      height: 30vh;
      padding: 40px;

      & h1 {
        font-size: 3.7rem;
      }
      & h5 {
        font-size: 1.6em;
      }
    }
    & button {
      bottom: 10%;
      margin: 70px;
      width: 150px;
      height: 60px;
      font-size: 1.2rem;
    }
  }
}
@media screen and (max-width: 760px) {
  header {
    min-height: 40vh;

    & .title-container {
      height: 30vh;
      padding: 40px;

      & h1 {
        font-size: 2.3rem;
      }
      & h5 {
        font-size: 1em;
      }
    }
    & button {
      bottom: 2%;
      margin: 70px;
      width: 150px;
      height: 50px;
      font-size: 1rem;
    }
  }
}
@media screen and (max-width: 620px) {
  header {
    min-height: 30vh;
    & .title-container {
      height: 35vh;
      padding: 40px;

      & h1 {
        font-size: 1.8rem;
      }
      & h5 {
        letter-spacing: 3px;
        font-size: 1em;
      }
    }
    & button {
      bottom: 5%;
      margin: 50px;
      width: 120px;
      height: 40px;
      font-size: 0.9rem;
    }
  }
}
@media screen and (max-width: 516px) {
  header {
    min-height: 10vh;

    & .title-container {
      height: 25vh;
      padding: 20px;

      & h1 {
        font-size: 1.3rem;
        letter-spacing: 6px;
      }
      & h5 {
        letter-spacing: 2px;
        font-size: 0.9em;
      }
    }
    & button {
      bottom: 10%;
      margin: 30px;
      width: 100px;
      height: 30px;
      font-size: 0.9rem;
    }
  }
}

@media screen and (max-width: 453px) {
  header {
    min-height: 10vh;

    & .title-container {
      height: 23vh;
      padding: 15px;

      & h1 {
        font-size: 1.5rem;
        letter-spacing: 3px;
      }
      & h5 {
        letter-spacing: 1.5px;
        font-size: 0.8em;
      }
    }
    & button {
      bottom: 0;
      margin: 40px;
      width: 70px;
      height: 25px;
      font-size: 0.7rem;
    }
  }
}
