header {
  height: 100vh;
  background: url("../../../assets/images/header.jpg") center/contain no-repeat;
  background-size: 100% auto;
  margin: 20px 30px;
  border: 2px solid $color-border;
  position: relative;
  opacity: 0;
  transform: translateY(150px);
  animation: headerAnim 2s forwards;

  @keyframes headerAnim {
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  & .title-container {
    width: 80%;
    height: 30vh;
    padding: 40px;
    text-align: left;
    color: white;

    & h1 {
      font-family: $font-logo;
      font-size: 9em;
      letter-spacing: 10px;
      text-transform: capitalize;
      font-weight: 100;
      text-shadow: -9px 13px 8px rgb(0, 0, 0);
    }
    & h5 {
      font-family: $font-logo;
      letter-spacing: 7px;
      font-size: 2em;
      font-weight: 100;
      text-shadow: -9px 13px 5px rgb(0, 0, 0);
    }
    & h3 {
      font-family: $font-logo;
      font-size: 1.4em;
      letter-spacing: 3px;
      font-weight: 100;
      text-shadow: -9px 13px 5px rgb(0, 0, 0);
      margin-left: 10px;
      color: $color-border;
    }
  }

  & button {
    position: absolute;
    bottom: 10%;
    margin: 150px;
    width: 250px;
    height: 70px;
    font-size: 2rem;
  }

  & button:hover {
    cursor: pointer;
    background: black;
    text-decoration: underline;
    transition: 0.5s;
  }

  & button a:link {
    text-decoration: none;
    color: $color-btn;
  }
  & button a:visited {
    text-decoration: none;
    color: $color-btn;
  }
}

header::after {
  content: "";
  position: absolute;
  bottom: -20px;
  width: 50%;
  height: 1px;
  transform: translateX(50%) scale(0);
  background: $color-border;
  animation: before 3s ease-in-out forwards;
}

//* MEDIA SCREEN in min-width/min-height //
// Grand Ecran pc - TV (1440px et plus) //
@media screen and (max-width: 1440px) {
}

// 1439px - 1201px Ecran Pc //
@media screen and (min-width: 1201px) and (max-width: 1439px) {
  header {
    & .title-container {
      & h1 {
        font-size: 8em;
      }
    }

    & button {
      margin: 80px 150px;
      width: 250px;
      height: 70px;
      font-size: 2rem;
    }
  }
}
// Petit ecran et pc 769px — 1024px //
@media screen and (min-width: 769px) and (max-width: 1024px) {
  header {
    height: 78vh;
    background-size: 100% auto;

    & .title-container {
      width: 100%;
      height: 30vh;
      padding: 50px 50px;

      & h1 {
        font-size: 5em;
        letter-spacing: 2px;
      }
    }

    & button {
      margin: 50px 100px;
      width: 200px;
      height: 70px;
      font-size: 2rem;
    }
  }
}
// tablette 481px — 768px //
@media screen and (min-width: 481px) and (max-width: 768px){
  header {
    height: 45vh;
    background-size: 100% auto;

    & .title-container {
      width: 100%;
      height: 100px;
      padding: 20px 50px;

      & h1 {
        font-size: 5em;
        letter-spacing: 2px;
        line-height: 140px;
      }

      & h3 {
        font-size: 1.1rem;                
      }

      & h5 {
        font-size: 1.5rem;
      }
    }

    & button {
      margin: 50px 100px;
      width: 170px;
      height: 50px;
      font-size: 1.6rem;
    }
    & button:hover {
      cursor: none;
      background: white;
      text-decoration: none;
      transform: scale(1);
    }
  }
}
// Telephone 320px —480px //
