.jewels::after {
  content: "";
  position: absolute;
  top: -20px;
  width: 50%;
  height: 1px;
  transform: translateX(50%) scale(0);
  background: $color-border;
  animation: before 3s ease-in-out forwards;
}

.jewels {
  position: relative;

  & .title-jewel {
    margin: 0 auto;
    width: 500px;
    height: 120px;
    background: white;
    border: 2px solid $color-border;

    display: flex;
    justify-content: center;
    align-items: center;

    & h1 {
      font-family: $font-logo;
      font-size: 3.5rem;
      color: $color-btn;
      text-transform: capitalize;
      letter-spacing: 8px;
    }
  }

  & .grid-container-jewels-responsive {
    display: none;
  }

  & .grid-container-jewels {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 40px;
    row-gap: 50px;
    align-items: center;

    & img:hover {
      cursor: pointer;
    }

    //! -------------Jewel1 --------------//
    & .jewel1 {
      position: relative;
      border: 1px solid $color-border;
      background: rgba(0, 0, 0, 0.75);
      text-align: center;
      width: 90%;
      height: 500px;
      margin: 0 auto;

      & #jewel1-img {
        width: 140px;
        margin: 10px;
      }

      & .text1::before {
        position: absolute;
        content: "";
        width: 250px;
        height: 2px;
        background: $color-border;
        top: 10px;
        transform: translateX(-50%);
      }

      & p {
        font-family: $font-paragraph;
        color: white;
        font-weight: 500;
        font-size: 1.15rem;
        font-style: italic;
        letter-spacing: 2.7px;
        padding: 0px 10px;
        height: 150px;
        width: 100%;
        display: flex;
        align-items: center;
        margin: 10px 0 0 0;
      }

      & button {
        width: 150px;
        height: 45px;
        margin: 5px 0;
        font-size: 1.3rem;
        text-align: center;
        transition: 0.5s;
      }

      & button:hover {
        cursor: pointer;
        text-decoration: underline;
        text-decoration-color: $color-border;
        text-underline-offset: 2px;
        background: black;
        transition: 0.5s;
        transform: scale(1.1);
      }

      & h3 {
        margin: 20px 0;
        text-transform: uppercase;
        font-size: 1rem;
      }

      & h3:hover {
        cursor: pointer;
        text-decoration: underline;
        text-decoration-color: $color-border;
        text-underline-offset: 8px;
        transform: scale(1.1);
        transition: 0.5s;
      }

      & a:link {
        text-decoration: none;
        font-family: $font-paragraph;
        letter-spacing: 2px;
        color: $color-btn;
      }

      & a:visited {
        color: $color-btn;
        font-weight: 100;
      }

      & div {
        position: absolute;
        bottom: 0;
      }
    }

    //! -------------Jewel2 --------------//
    & .jewel2 {
      position: relative;
      border: 1px solid $color-border;
      background: rgba(0, 0, 0, 0.75);
      text-align: center;
      width: 90%;
      height: 500px;
      margin: 0 auto;
      top: 99px;

      & #jewel2-img {
        width: 210px;
        margin: 10px;
      }

      & .text2::before {
        position: absolute;
        content: "";
        width: 250px;
        height: 2px;
        background: $color-border;
        top: 230px;
        transform: translateX(-50%);
      }

      & p {
        font-family: $font-paragraph;
        color: white;
        font-weight: 500;
        font-size: 1.15rem;
        font-style: italic;
        letter-spacing: 2.7px;
        padding: 0px 10px;
        height: 150px;
        width: 100%;
        display: flex;
        align-items: center;
        margin: 10px 0 0 0;
      }

      & button {
        width: 150px;
        height: 45px;
        margin: 5px 0;
        font-size: 1.3rem;
        text-align: center;
        transition: 0.5s;
      }

      & button:hover {
        cursor: pointer;
        text-decoration: underline;
        text-decoration-color: $color-border;
        text-underline-offset: 2px;
        background: black;
        transition: 0.5s;
        transform: scale(1.1);
      }

      & h3 {
        margin: 20px 0;
        text-transform: uppercase;
        font-size: 1rem;
      }

      & h3:hover {
        cursor: pointer;
        text-decoration: underline;
        text-decoration-color: $color-border;
        text-underline-offset: 8px;
        transform: scale(1.1);
        transition: 0.5s;
      }

      & a:link {
        text-decoration: none;
        font-family: $font-paragraph;
        letter-spacing: 2px;
        color: $color-btn;
      }

      & a:visited {
        color: $color-btn;
        font-weight: 100;
      }
    }

    //! -------------Jewel3 --------------//
    & .jewel3 {
      position: relative;
      border: 1px solid $color-border;
      background: rgba(0, 0, 0, 0.75);
      text-align: center;
      width: 90%;
      height: 500px;
      margin: 0 auto;

      & #jewel3-img {
        width: 170px;
        margin: 10px;
      }

      & .text3::before {
        position: absolute;
        content: "";
        width: 250px;
        height: 2px;
        background: $color-border;
        top: 230px;
        transform: translateX(-50%);
      }

      & p {
        font-family: $font-paragraph;
        color: white;
        font-weight: 500;
        font-size: 1.15rem;
        font-style: italic;
        letter-spacing: 2.7px;
        padding: 0px 10px;
        height: 150px;
        width: 100%;
        display: flex;
        align-items: center;
        margin: 10px 0 0 0;
      }

      & button {
        width: 150px;
        height: 45px;
        margin: 5px 0;
        font-size: 1.3rem;
        text-align: center;
        transition: 0.5s;
      }

      & button:hover {
        cursor: pointer;
        text-decoration: underline;
        text-decoration-color: $color-border;
        text-underline-offset: 2px;
        background: black;
        transition: 0.5s;
        transform: scale(1.1);
      }

      & h3 {
        margin: 20px 0;
        text-transform: uppercase;
        font-size: 1rem;
      }

      & h3:hover {
        cursor: pointer;
        text-decoration: underline;
        text-decoration-color: $color-border;
        text-underline-offset: 8px;
        transform: scale(1.1);
        transition: 0.5s;
      }

      & a:link {
        text-decoration: none;
        font-family: $font-paragraph;
        letter-spacing: 2px;
        color: $color-btn;
      }

      & a:visited {
        color: $color-btn;
        font-weight: 100;
      }
    }

    //! -------------Jewel4 --------------//
    & .jewel4 {
      position: relative;
      border: 1px solid $color-border;
      background: rgba(0, 0, 0, 0.75);
      text-align: center;
      width: 90%;
      height: 500px;
      margin: 0 auto;

      & #jewel4-img {
        width: 190px;
        margin: 10px;
      }

      & .text4::before {
        position: absolute;
        content: "";
        width: 250px;
        height: 2px;
        background: $color-border;
        top: 240px;
        transform: translateX(-50%);
      }

      & p {
        font-family: $font-paragraph;
        color: white;
        font-weight: 500;
        font-size: 1.15rem;
        font-style: italic;
        letter-spacing: 2.7px;
        padding: 0px 10px;
        height: 150px;
        width: 100%;
        display: flex;
        align-items: center;
        margin: 10px 0 0 0;
      }

      & button {
        width: 150px;
        height: 45px;
        margin: 5px 0;
        font-size: 1.3rem;
        text-align: center;
        transition: 0.5s;
      }

      & button:hover {
        cursor: pointer;
        text-decoration: underline;
        text-decoration-color: $color-border;
        text-underline-offset: 2px;
        background: black;
        transition: 0.5s;
        transform: scale(1.1);
      }

      & h3 {
        margin: 20px 0;
        text-transform: uppercase;
        font-size: 1rem;
      }

      & h3:hover {
        cursor: pointer;
        text-decoration: underline;
        text-decoration-color: $color-border;
        text-underline-offset: 8px;
        transform: scale(1.1);
        transition: 0.5s;
      }

      & a:link {
        text-decoration: none;
        font-family: $font-paragraph;
        letter-spacing: 2px;
        color: $color-btn;
      }

      & a:visited {
        color: $color-btn;
        font-weight: 100;
      }
    }

    //! -------------Jewel5 --------------//
    & .jewel5 {
      position: relative;
      display: flex;
      border: 1px solid $color-border;
      background: rgba(0, 0, 0, 0.75);
      text-align: center;
      width: 550px;
      height: 350px;
      margin: 0 auto;
      padding: 10px;
      top: 25px;

      & #jewel5-img {
        width: 150px;
        height: auto;
        margin: 10px;
      }

      .text5::before {
        position: absolute;
        content: "";
        width: 250px;
        height: 2px;
        background: $color-border;
        top: 50%;
        left: 50px;
        transform: translateX(-50%);
        transform: rotate(90deg);
      }

      & p {
        font-family: $font-paragraph;
        color: white;
        font-weight: 500;
        font-size: 1rem;
        letter-spacing: 2.7px;
        font-style: italic;
        height: 200px;
        display: flex;
        align-items: center;
      }

      & button {
        width: 150px;
        height: 45px;
        margin: 5px 0;
        font-size: 1.3rem;
        text-align: center;
        transition: 0.5s;
      }

      & button:hover {
        cursor: pointer;
        text-decoration: underline;
        text-decoration-color: $color-border;
        text-underline-offset: 2px;
        background: black;
        transition: 0.5s;
        transform: scale(1.1);
      }

      & h3 {
        margin: 40px 0;
        text-transform: uppercase;
        font-size: 1rem;
      }

      & h3:hover {
        cursor: pointer;
        text-decoration: underline;
        text-decoration-color: $color-border;
        text-underline-offset: 8px;
        transform: scale(1.1);
        transition: 0.5s;
      }

      & a:link {
        text-decoration: none;
        font-family: $font-paragraph;
        letter-spacing: 2px;
        color: $color-btn;
      }

      & a:visited {
        color: $color-btn;
        font-weight: 100;
      }
      & img {
        padding: 20px;
      }
    }

    //! -------------Jewel6 --------------//
    & .jewel6 {
      position: relative;
      border: 1px solid $color-border;
      background: rgba(0, 0, 0, 0.75);
      text-align: center;
      width: 90%;
      height: 500px;
      margin: 0 auto;

      & #jewel6-img {
        width: 250px;
        margin: 10px;
      }

      & .text6::before {
        position: absolute;
        content: "";
        width: 250px;
        height: 2px;
        background: $color-border;
        top: 230px;
        transform: translateX(-50%);
      }

      & p {
        font-family: $font-paragraph;
        color: white;
        font-weight: 500;
        font-size: 1.15rem;
        font-style: italic;
        letter-spacing: 2.7px;
        padding: 0px 10px;
        height: 150px;
        width: 100%;
        display: flex;
        align-items: center;
        margin: 10px 0 0 0;
      }

      & button {
        width: 150px;
        height: 45px;
        margin: 5px 0;
        font-size: 1.3rem;
        text-align: center;
        transition: 0.5s;
      }

      & button:hover {
        cursor: pointer;
        text-decoration: underline;
        text-decoration-color: $color-border;
        text-underline-offset: 2px;
        background: black;
        transition: 0.5s;
        transform: scale(1.1);
      }

      & h3 {
        margin: 20px 0;
        text-transform: uppercase;
        font-size: 1rem;
      }

      & h3:hover {
        cursor: pointer;
        text-decoration: underline;
        text-decoration-color: $color-border;
        text-underline-offset: 8px;
        transform: scale(1.1);
        transition: 0.5s;
      }

      & a:link {
        text-decoration: none;
        font-family: $font-paragraph;
        letter-spacing: 2px;
        color: $color-btn;
      }

      & a:visited {
        color: $color-btn;
        font-weight: 100;
      }
    }

    //! -------------Jewel7 --------------//
    & .jewel7 {
      position: relative;
      border: 1px solid $color-border;
      background: rgba(0, 0, 0, 0.75);
      text-align: center;
      width: 90%;
      height: 500px;
      margin: 0 auto;

      & #jewel7-img {
        width: 200px;
        transform: translateX(20px);
        margin: 10px;
      }

      & .text7::before {
        position: absolute;
        content: "";
        width: 250px;
        height: 2px;
        background: $color-border;
        top: 230px;
        transform: translateX(-50%);
      }

      & p {
        font-family: $font-paragraph;
        color: white;
        font-weight: 500;
        font-size: 1.15rem;
        font-style: italic;
        letter-spacing: 2.7px;
        padding: 0px 10px;
        height: 150px;
        width: 100%;
        display: flex;
        align-items: center;
        margin: 10px 0 0 0;
      }

      & button {
        width: 150px;
        height: 45px;
        margin: 5px 0;
        font-size: 1.3rem;
        text-align: center;
        transition: 0.5s;
      }

      & button:hover {
        cursor: pointer;
        text-decoration: underline;
        text-decoration-color: $color-border;
        text-underline-offset: 2px;
        background: black;
        transition: 0.5s;
        transform: scale(1.1);
      }

      & h3 {
        margin: 20px 0;
        text-transform: uppercase;
        font-size: 1rem;
      }

      & h3:hover {
        cursor: pointer;
        text-decoration: underline;
        text-decoration-color: $color-border;
        text-underline-offset: 8px;
        transform: scale(1.1);
        transition: 0.5s;
      }

      & a:link {
        text-decoration: none;
        font-family: $font-paragraph;
        letter-spacing: 2px;
        color: $color-btn;
      }

      & a:visited {
        color: $color-btn;
        font-weight: 100;
      }
    }
    //! -------------Jewel8 --------------//
    & .jewel8 {
      position: relative;
      display: flex;
      border: 1px solid $color-border;
      background: rgba(0, 0, 0, 0.75);
      text-align: center;
      width: 550px;
      height: 350px;
      margin: 0 auto;
      padding: 10px;
      top: -50px;

      & #jewel8-img {
        width: 150px;
        height: auto;
        margin: 10px;
      }

      .text8::before {
        position: absolute;
        content: "";
        width: 250px;
        height: 2px;
        background: $color-border;
        top: 50%;
        left: 50px;
        transform: translateX(-50%);
        transform: rotate(90deg);
      }

      & p {
        font-family: $font-paragraph;
        color: white;
        font-weight: 500;
        font-size: 1rem;
        letter-spacing: 2.7px;
        font-style: italic;
        height: 200px;
        display: flex;
        align-items: center;
      }

      & button {
        width: 150px;
        height: 45px;
        margin: 5px 0;
        font-size: 1.3rem;
        text-align: center;
        transition: 0.5s;
      }

      & button:hover {
        cursor: pointer;
        text-decoration: underline;
        text-decoration-color: $color-border;
        text-underline-offset: 2px;
        background: black;
        transition: 0.5s;
        transform: scale(1.1);
      }

      & h3 {
        margin: 40px 0;
        text-transform: uppercase;
        font-size: 1rem;
      }

      & h3:hover {
        cursor: pointer;
        text-decoration: underline;
        text-decoration-color: $color-border;
        text-underline-offset: 8px;
        transform: scale(1.1);
        transition: 0.5s;
      }

      & a:link {
        text-decoration: none;
        font-family: $font-paragraph;
        letter-spacing: 2px;
        color: $color-btn;
      }

      & a:visited {
        color: $color-btn;
        font-weight: 100;
      }
      & img {
        padding: 20px;
      }
    }

    //! -------------Jewel9 --------------//
    & .logo-jewel {
      position: relative;
      border: 1px solid $color-border;
      background: rgba(0, 0, 0, 0.75);
      text-align: center;
      width: 90%;
      height: 500px;
      margin: 0 auto;

      & #jewel9-img {
        width: 140px;
        transform: translateX(-10px);
        margin: 10px;
      }

      & .text9::before {
        position: absolute;
        content: "";
        width: 250px;
        height: 2px;
        background: $color-border;
        top: 230px;
        transform: translateX(-50%);
      }

      & p {
        font-family: $font-paragraph;
        color: white;
        font-weight: 500;
        font-size: 1.15rem;
        font-style: italic;
        letter-spacing: 2.7px;
        padding: 0px 10px;
        height: 150px;
        width: 100%;
        display: flex;
        align-items: center;
        margin: 10px 0 0 0;
      }

      & button {
        width: 150px;
        height: 45px;
        font-size: 1.3rem;
        text-align: center;
        transition: 0.5s;
      }

      & button:hover {
        cursor: pointer;
        text-decoration: underline;
        text-decoration-color: $color-border;
        text-underline-offset: 2px;
        background: black;
        transition: 0.5s;
        transform: scale(1.1);
      }

      & h3 {
        margin: 20px 0;
        text-transform: uppercase;
        font-size: 1rem;
      }

      & h3:hover {
        cursor: pointer;
        text-decoration: underline;
        text-decoration-color: $color-border;
        text-underline-offset: 8px;
        transform: scale(1.1);
        transition: 0.5s;
      }

      & a:link {
        text-decoration: none;
        font-family: $font-paragraph;
        letter-spacing: 2px;
        color: $color-btn;
      }

      & a:visited {
        color: $color-btn;
        font-weight: 100;
      }
    }
  }

  & .grid-container-jewels::before {
    content: "";
    position: absolute;
    bottom: -20px;
    left: -1px;
    width: 50%;
    height: 1px;
    margin: 0 auto;
    transform: translateX(50%) scale(0);
    background: $color-border;
    animation: before 3s ease-in-out forwards;
  }
}

//! Les animation css //
@keyframes before {
  100% {
    transform: translateX(50%) scale(1);
  }
}

//* Media Screen //

// Grand - TV (1440) //
@media screen and (min-width: 1440px) and (max-width: 1440px) {
  section.jewels {
    & .grid-container-jewels-responsive {
      display: none;
    }
    & .grid-container-jewels {
      & img:hover {
        cursor: pointer;
      }
      //! -------------Jewel1 --------------//
      & .jewel1 {
        & .text1::before {
          top: 0;
        }
        & p {
          font-size: 1rem;
        }
      }

      //! -------------Jewel2 --------------//
      & .jewel2 {
        & p {
          font-size: 1rem;
        }
      }

      //! -------------Jewel3 --------------//
      & .jewel3 {
        & p {
          font-size: 1rem;
        }
      }

      //! -------------Jewel4 --------------//
      & .jewel4 {
        & .text4::before {
          top: 230px;
        }
        & p {
          font-size: 1rem;
        }
      }

      //! -------------Jewel5 --------------//
      & .jewel5 {
        & p {
          font-size: 0.9rem;
        }

        & button {
          margin: 0;
        }
      }

      //! -------------Jewel6 --------------//
      & .jewel6 {
        & p {
          font-size: 1rem;
        }
      }

      //! -------------Jewel7 --------------//
      & .jewel7 {
        & p {
          font-size: 1rem;
        }
      }

      //! -------------Jewel8 --------------//
      & .jewel8 {
        & p {
          font-size: 0.9rem;
        }

        & button {
          margin: 0;
        }
      }

      //! -------------Jewel9 --------------//
      & .logo-jewel {
        & p {
          font-size: 1rem;
          margin: 0;
        }
      }
    }
  }
}

// 1439px - 1201px //
@media screen and (min-width: 1201px) and (max-width: 1439px) {
  section.jewels {
    & .grid-container-jewels-responsive {
      display: none;
    }
    & .grid-container-jewels {
      row-gap: 20px;

      & img:hover {
        cursor: pointer;
      }

      //! -------------Jewel1 --------------//
      & .jewel1 {
        & .text1::before {
          width: 180px;
          top: 0;
        }
        & p {
          font-size: 0.9rem;
          letter-spacing: 2px;
        }
      }

      //! -------------Jewel2 --------------//
      & .jewel2 {
        & .text2::before {
          width: 300px;
        }
        & p {
          font-size: 1.1rem;
          letter-spacing: 2px;
        }
      }

      //! -------------Jewel3 --------------//
      & .jewel3 {
        & .text3::before {
          width: 180px;
        }
        & p {
          font-size: 0.9rem;
          letter-spacing: 2px;
        }
      }

      //! -------------Jewel4 --------------//
      & .jewel4 {
        & .text4::before {
          width: 180px;
        }
        & p {
          font-size: 0.9rem;
          letter-spacing: 2px;
        }
      }

      //! -------------Jewel5 --------------//
      & .jewel5 {
        & p {
          font-size: 0.9rem;
        }

        & button {
          margin: 0;
        }
      }

      //! -------------Jewel6 --------------//
      & .jewel6 {
        & .text6::before {
          width: 180px;
        }
        & p {
          font-size: 0.9rem;
          letter-spacing: 2px;
        }
      }

      //! -------------Jewel7 --------------//
      & .jewel7 {
        & .text7::before {
          width: 180px;
        }
        & p {
          margin: 0;
          font-size: 0.9rem;
          letter-spacing: 2px;
        }
      }

      //! -------------Jewel8 --------------//
      & .jewel8 {
        & p {
          font-size: 0.9rem;
        }

        & button {
          margin: 0;
        }
      }

      //! -------------Jewel9 --------------//
      & .logo-jewel {
        & .text9::before {
          width: 180px;
        }
        & p {
          margin: 0;
          font-size: 0.9rem;
          letter-spacing: 2px;
        }
      }
    }
  }
}

// Ecran Pc basique 1025px — 1200px //
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  section.jewels {
    & .title-jewel {
      width: 400px;
    }

    & .grid-container-jewels-responsive {
      display: none;
    }
    & .grid-container-jewels {
      display: grid;
      grid-template-columns: 33% 33% 34%;
      grid-template-rows: repeat(3, 1fr);
      margin: 20px 40px;
      row-gap: 50px;
      column-gap: 10px;
      align-items: center;
      justify-content: center;

      & img:hover {
        cursor: pointer;
      }

      //! -------------Jewel1 --------------//
      & .jewel1 {
        width: 100%;

        & .text1::before {
          width: 0px;
          top: 0;
        }
        & p {
          font-size: 0.9rem;
          letter-spacing: 2px;
        }
        & button {
          margin: 0;
        }
      }

      //! -------------Jewel2 --------------//
      & .jewel2 {
        width: 100%;
        top: 0;
        & .text2::before {
          width: 150px;
        }
        & p {
          font-size: 0.9rem;
          letter-spacing: 2px;
        }
        & button {
          margin: 0;
        }
      }

      //! -------------Jewel3 --------------//
      & .jewel3 {
        width: 100%;

        & .text3::before {
          width: 0px;
          top: 0;
        }
        & p {
          font-size: 0.9rem;
          letter-spacing: 2px;
        }
        & button {
          margin: 0;
        }
      }

      //! -------------Jewel4 --------------//
      & .jewel4 {
        width: 100%;

        & .text4::before {
          width: 0px;
          top: 0;
        }
        & p {
          font-size: 0.9rem;
          letter-spacing: 2px;
        }
        & button {
          margin: 0;
        }
      }

      //! -------------Jewel5 --------------//
      & .jewel5 {
        width: 100%;
        height: 500px;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0 auto;

        & #jewel5-img {
          width: 100px;
          height: auto;
          margin: 0px;
          padding: 0;
          margin-top: 50px;
          transform: translateY(0px);
        }

        & .text5::before {
          width: 0px;
          top: 0;
        }
        & p {
          width: 100%;
          height: 150px;
          font-size: 0.9rem;
          letter-spacing: 2px;
        }

        & button {
          margin: 0;
        }
      }

      //! -------------Jewel6 --------------//
      & .jewel6 {
        width: 100%;

        & .text6::before {
          width: 0px;
          top: 0;
        }
        & p {
          font-size: 0.9rem;
          letter-spacing: 2px;
        }
        & button {
          margin: 0;
        }
      }

      //! -------------Jewel7 --------------//
      & .jewel7 {
        width: 100%;

        & .text7::before {
          width: 0px;
          top: 0;
        }
        & p {
          font-size: 0.9rem;
          letter-spacing: 2px;
        }
        & button {
          margin: 0;
        }
      }

      //! -------------Jewel8 --------------//
      & .jewel8 {
        width: 100%;
        height: 500px;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0 auto;

        & #jewel8-img {
          width: 90px;
          height: auto;
          margin: 0px;
          padding: 0;
          margin-top: 50px;
          transform: translateY(0px);
        }

        & .text8::before {
          width: 0px;
          top: 0;
        }
        & p {
          width: 100%;
          height: 150px;
          font-size: 0.9rem;
          letter-spacing: 2px;
        }

        & button {
          margin: 0;
        }
      }

      //! -------------Jewel9 --------------//
      & .logo-jewel {
        width: 100%;

        & .text9::before {
          width: 0px;
          top: 0;
        }
        & p {
          font-size: 0.9rem;
          letter-spacing: 2px;
        }
        & button {
          margin: 0;
        }
      }
    }
  }
}
// Petit ecran et pc 769px — 1024px //
@media screen and (min-width: 769px) and (max-width: 1024px) {
  section.jewels {
    & .title-jewel {
      width: 400px;
    }

    & .grid-container-jewels-responsive {
      display: none;
    }
    & .grid-container-jewels {
      display: grid;
      grid-template-columns: 33% 33% 34%;
      grid-template-rows: repeat(3, 1fr);
      margin: 20px 40px;
      row-gap: 50px;
      column-gap: 10px;
      align-items: center;
      justify-content: center;

      & img:hover {
        cursor: pointer;
      }

      //! -------------Jewel1 --------------//
      & .jewel1 {
        width: 100%;

        & .text1::before {
          width: 0px;
          top: 0;
        }
        & p {
          font-size: 0.9rem;
          letter-spacing: 2px;
        }
        & button {
          margin: 0;
        }
      }

      //! -------------Jewel2 --------------//
      & .jewel2 {
        width: 100%;
        top: 0;
        & .text2::before {
          width: 0px;
        }
        & p {
          font-size: 0.9rem;
          letter-spacing: 2px;
        }
        & button {
          margin: 0;
        }
      }

      //! -------------Jewel3 --------------//
      & .jewel3 {
        width: 100%;

        & .text3::before {
          width: 0px;
          top: 0;
        }
        & p {
          font-size: 0.9rem;
          letter-spacing: 2px;
        }
        & button {
          margin: 0;
        }
      }

      //! -------------Jewel4 --------------//
      & .jewel4 {
        width: 100%;

        & .text4::before {
          width: 0px;
          top: 0;
        }
        & p {
          font-size: 0.9rem;
          letter-spacing: 2px;
        }
        & button {
          margin: 0;
        }
      }

      //! -------------Jewel5 --------------//
      & .jewel5 {
        width: 100%;
        height: 500px;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0 auto;

        & #jewel5-img {
          width: 100px;
          height: auto;
          margin: 0px;
          padding: 0;
          margin-top: 50px;
          transform: translateY(0px);
        }

        & .text5::before {
          width: 0px;
          top: 0;
        }
        & p {
          width: 100%;
          height: 150px;
          font-size: 0.9rem;
          letter-spacing: 2px;
        }

        & button {
          margin: 0;
        }
      }

      //! -------------Jewel6 --------------//
      & .jewel6 {
        width: 100%;

        & .text6::before {
          width: 0px;
          top: 0;
        }
        & p {
          font-size: 0.9rem;
          letter-spacing: 2px;
        }
        & button {
          margin: 0;
        }
      }

      //! -------------Jewel7 --------------//
      & .jewel7 {
        width: 100%;

        & .text7::before {
          width: 0px;
          top: 0;
        }
        & p {
          font-size: 0.9rem;
          letter-spacing: 2px;
        }
        & button {
          margin: 0;
        }
      }

      //! -------------Jewel8 --------------//
      & .jewel8 {
        width: 100%;
        height: 500px;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0 auto;

        & #jewel8-img {
          width: 90px;
          height: auto;
          margin: 0px;
          padding: 0;
          margin-top: 50px;
          transform: translateY(0px);
        }

        & .text8::before {
          width: 0px;
          top: 0;
        }
        & p {
          width: 100%;
          height: 150px;
          font-size: 0.9rem;
          letter-spacing: 2px;
        }

        & button {
          margin: 0;
        }
      }

      //! -------------Jewel9 --------------//
      & .logo-jewel {
        width: 100%;

        & .text9::before {
          width: 0px;
          top: 0;
        }
        & p {
          font-size: 0.9rem;
          letter-spacing: 2px;
        }
        & button {
          margin: 0;
        }
      }
    }
  }
}
// tablette 481px — 768px //
@media screen and (min-width: 481px) and (max-width: 768px) {
  section.jewels {
    & .title-jewel {
      width: 400px;
    }

    & .grid-container-jewels-responsive {
      display: none;
    }
    & .grid-container-jewels {
      display: grid;
      grid-template-columns: 50% 50%;
      margin: 20px 40px;
      row-gap: 50px;
      column-gap: 10px;
      align-items: center;
      justify-content: center;

      & img:hover {
        cursor: pointer;
      }

      //! -------------Jewel1 Responsive--------------//
      & .jewel1 {
        width: 100%;

        & .text1::before {
          width: 0px;
          top: 0;
        }
        & p {
          font-size: 0.9rem;
          letter-spacing: 2px;
        }
        & button {
          margin: 0;
        }
      }

      //! -------------Jewel2 Responsive--------------//
      & .jewel2 {
        width: 100%;
        top: 0;
        & .text2::before {
          width: 0px;
        }
        & p {
          font-size: 0.9rem;
          letter-spacing: 2px;
        }
        & button {
          margin: 0;
        }
      }

      //! -------------Jewel3 Responsive--------------//
      & .jewel3 {
        width: 100%;

        & .text3::before {
          width: 0px;
          top: 0;
        }
        & p {
          font-size: 0.9rem;
          letter-spacing: 2px;
        }
        & button {
          margin: 0;
        }
      }

      //! -------------Jewel4 Responsive--------------//
      & .jewel4 {
        width: 100%;

        & .text4::before {
          width: 0px;
          top: 0;
        }
        & p {
          font-size: 0.9rem;
          letter-spacing: 2px;
        }
        & button {
          margin: 0;
        }
      }

      //! -------------Jewel5 Responsive--------------//
      & .jewel5 {
        width: 100%;
        height: 500px;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0 auto;

        & #jewel5-img {
          width: 100px;
          height: auto;
          margin: 0px;
          padding: 0;
          margin-top: 50px;
          transform: translateY(0px);
        }

        & .text5::before {
          width: 0px;
          top: 0;
        }
        & p {
          width: 100%;
          height: 150px;
          font-size: 0.9rem;
          letter-spacing: 2px;
        }

        & button {
          margin: 0;
        }
      }

      //! -------------Jewel6 Responsive--------------//
      & .jewel6 {
        width: 100%;

        & #jewel6-img {
          width: 220px;
        }

        & .text6::before {
          width: 0px;
          top: 0;
        }
        & p {
          font-size: 0.9rem;
          letter-spacing: 2px;
        }
        & button {
          margin: 0;
        }
      }

      //! -------------Jewel7 Responsive--------------//
      & .jewel7 {
        width: 100%;

        & .text7::before {
          width: 0px;
          top: 0;
        }
        & p {
          font-size: 0.9rem;
          letter-spacing: 2px;
        }
        & button {
          margin: 0;
        }
      }

      //! -------------Jewel8 Responsive--------------//
      & .jewel8 {
        width: 100%;
        height: 500px;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0 auto;

        & #jewel8-img {
          width: 90px;
          height: auto;
          margin: 0px;
          padding: 0;
          margin-top: 50px;
          transform: translateY(0px);
        }

        & .text8::before {
          width: 0px;
          top: 0;
        }
        & p {
          width: 100%;
          height: 150px;
          font-size: 0.9rem;
          letter-spacing: 2px;
        }

        & button {
          margin: 0;
        }
      }

      //! -------------Jewel9 Responsive--------------//
      & .logo-jewel {
        width: 200%;

        & #jewel9-img {
          width: 140px;
        }
        & .text9::before {
          width: 0px;
          top: 0;
        }
        & p {
          font-size: 1.2rem;
          letter-spacing: 2px;
        }
        & button {
          margin: 0;
        }
      }
    }
  }
}

// Telephone 320px —480px //
@media screen and (max-width: 480px) {
  section.jewels {
    & .title-jewel {
      width: 250px;
      height: 100px;
      & h1 {
        font-family: $font-logo;
        font-size: 2rem;
        color: $color-btn;
        letter-spacing: 1px;
      }
    }

    & .grid-container-jewels {
      display: none;
    }

    & .grid-container-jewels-responsive {
      position: relative;
      overflow-x: hidden;
      overflow-y: hidden;
      margin-top: 20px;
      row-gap: 20px;
      display: grid;
      grid-template-rows: repeat(9, 1fr);
      justify-content: center;
      align-items: center;

      //! -------------Jewel1 Responsive--------------//
      & .jewel1-responsive {
        width: 100%;
        height: 40vh;
        background: black;
        border: 1px solid $color-border;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;

        & img {
          width: 90px;
          padding: 5px;
          transform: translateY(-10px);
        }
        & .imgactive {
          z-index: 1;
          width: 90px;
          height: 105px;
          background: rgb(0, 0, 0);
          border: 0.5px solid $color-border;
          transform: translateY(50px) scale(2.4);
        }

        & .text1-responsive {
          margin: 0 !important;
          margin-top: 30px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          & button {
            width: 80px;
            height: 30px;
            font-size: 1rem;
          }

          & h3 {
            font-size: 0.6rem;
            margin: 20px;
            font-family: $font-title;
            letter-spacing: 1px;
            text-transform: uppercase;
            text-decoration: 1px underline;
            text-underline-offset: 7px;
            text-decoration-color: $color-border;
          }

          & a:link {
            text-decoration: none;
            color: $color-btn;
          }
          & a:visited {
            text-decoration: none;
            color: $color-btn;
          }
        }
      }
      //! -------------Jewel2 Responsive--------------//
      & .jewel2-responsive {
        width: 100%;
        height: 40vh;
        background: black;
        border: 1px solid $color-border;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;

        & img {
          width: 90px;
          padding: 5px;
          transform: translateY(-15px);
        }
        & .imgactive {
          z-index: 1;
          width: 90px;
          height: 93px;
          background: rgb(0, 0, 0);
          border: 0.5px solid $color-border;
          transform: translateY(40px) scale(2.4);
        }

        & .text2-responsive {
          margin: 0 !important;
          margin-top: 30px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          & button {
            width: 80px;
            height: 30px;
            font-size: 1rem;
          }

          & h3 {
            font-size: 0.6rem;
            margin: 20px;
            font-family: $font-title;
            letter-spacing: 1px;
            text-transform: uppercase;
            text-decoration: 1px underline;
            text-underline-offset: 7px;
            text-decoration-color: $color-border;
          }

          & a:link {
            text-decoration: none;
            color: $color-btn;
          }
          & a:visited {
            text-decoration: none;
            color: $color-btn;
          }
        }
      }

      //! -------------Jewel3 Responsive--------------//
      & .jewel3-responsive {
        width: 100%;
        height: 40vh;
        background: black;
        border: 1px solid $color-border;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;

        & img {
          width: 90px;
          padding: 5px;
        }
        & .imgactive {
          z-index: 1;
          width: 90px;
          height: 93px;
          background: rgb(0, 0, 0);
          border: 0.5px solid $color-border;
          transform: translateY(40px) scale(2.4);
        }

        & .text3-responsive {
          margin: 0 !important;
          margin-top: 30px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          & button {
            width: 80px;
            height: 30px;
            font-size: 1rem;
          }

          & h3 {
            font-size: 0.6rem;
            margin: 20px;
            font-family: $font-title;
            letter-spacing: 1px;
            text-transform: uppercase;
            text-decoration: 1px underline;
            text-underline-offset: 7px;
            text-decoration-color: $color-border;
          }

          & a:link {
            text-decoration: none;
            color: $color-btn;
          }
          & a:visited {
            text-decoration: none;
            color: $color-btn;
          }
        }
      }

      //! -------------Jewel4 Responsive--------------//
      & .jewel4-responsive {
        width: 100%;
        height: 40vh;
        background: black;
        border: 1px solid $color-border;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;

        & img {
          width: 90px;
          padding: 5px;
        }
        & .imgactive {
          z-index: 1;
          width: 90px;
          height: 93px;
          background: rgb(0, 0, 0);
          border: 0.5px solid $color-border;
          transform: translateY(40px) scale(2.4);
        }

        & .text4-responsive {
          margin: 0 !important;
          margin-top: 30px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          & button {
            width: 80px;
            height: 30px;
            font-size: 1rem;
          }

          & h3 {
            font-size: 0.6rem;
            margin: 20px;
            font-family: $font-title;
            letter-spacing: 1px;
            text-transform: uppercase;
            text-decoration: 1px underline;
            text-underline-offset: 7px;
            text-decoration-color: $color-border;
          }

          & a:link {
            text-decoration: none;
            color: $color-btn;
          }
          & a:visited {
            text-decoration: none;
            color: $color-btn;
          }
        }
      }

      //! -------------Jewel5 Responsive--------------//
      & .jewel5-responsive {
        width: 100%;
        height: 40vh;
        background: black;
        border: 1px solid $color-border;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;

        & img {
          width: 80px;
          padding: 5px;
        }
        & .imgactive {
          z-index: 1;
          width: 90px;
          height: 130px;
          background: rgb(0, 0, 0);
          border: 0.5px solid $color-border;
          transform: translateY(40px) scale(2.4);
        }

        & .text5-responsive {
          margin: 0 !important;
          margin-top: 30px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          & button {
            width: 80px;
            height: 30px;
            font-size: 1rem;
          }

          & h3 {
            font-size: 0.6rem;
            margin: 20px;
            font-family: $font-title;
            letter-spacing: 1px;
            text-transform: uppercase;
            text-decoration: 1px underline;
            text-underline-offset: 7px;
            text-decoration-color: $color-border;
          }

          & a:link {
            text-decoration: none;
            color: $color-btn;
          }
          & a:visited {
            text-decoration: none;
            color: $color-btn;
          }
        }
      }

      //! -------------Jewel6 Responsive--------------//
      & .jewel6-responsive {
        width: 100%;
        height: 40vh;
        background: black;
        border: 1px solid $color-border;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;

        & img {
          width: 110px;
          padding: 5px;
          transform: translateY(-20px);
        }
        & .imgactive {
          z-index: 1;
          width: 110px;
          height: 93px;
          background: rgb(0, 0, 0);
          border: 0.5px solid $color-border;
          transform: translateY(40px) scale(2.4);
        }

        & .text6-responsive {
          margin: 0 !important;
          margin-top: 30px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          & button {
            width: 80px;
            height: 30px;
            font-size: 1rem;
          }

          & h3 {
            font-size: 0.6rem;
            margin: 20px;
            font-family: $font-title;
            letter-spacing: 1px;
            text-transform: uppercase;
            text-decoration: 1px underline;
            text-underline-offset: 7px;
            text-decoration-color: $color-border;
          }

          & a:link {
            text-decoration: none;
            color: $color-btn;
          }
          & a:visited {
            text-decoration: none;
            color: $color-btn;
          }
        }
      }

      //! -------------Jewel7 Responsive--------------//
      & .jewel7-responsive {
        width: 100%;
        height: 40vh;
        background: black;
        border: 1px solid $color-border;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;

        & img {
          width: 90px;
          padding: 5px;
          transform: translateY(-20px);
        }
        & .imgactive {
          z-index: 1;
          width: 90px;
          height: 93px;
          background: rgb(0, 0, 0);
          border: 0.5px solid $color-border;
          transform: translateY(40px) scale(2.4);
        }

        & .text7-responsive {
          margin: 0 !important;
          margin-top: 30px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          & button {
            width: 80px;
            height: 30px;
            font-size: 1rem;
          }

          & h3 {
            font-size: 0.6rem;
            margin: 20px;
            font-family: $font-title;
            letter-spacing: 1px;
            text-transform: uppercase;
            text-decoration: 1px underline;
            text-underline-offset: 7px;
            text-decoration-color: $color-border;
          }

          & a:link {
            text-decoration: none;
            color: $color-btn;
          }
          & a:visited {
            text-decoration: none;
            color: $color-btn;
          }
        }
      }

      //! -------------Jewel8 Responsive--------------//
      & .jewel8-responsive {
        width: 100%;
        height: 40vh;
        background: black;
        border: 1px solid $color-border;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;

        & img {
          width: 70px;
          padding: 5px;
        }
        & .imgactive {
          z-index: 1;
          width: 90px;
          height: 170px;
          background: rgb(0, 0, 0);
          border: 0.5px solid $color-border;
          transform: translateY(40px) scale(2);
        }

        & .text8-responsive {
          margin: 0 !important;
          margin-top: 30px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          & button {
            width: 80px;
            height: 30px;
            font-size: 1rem;
          }

          & h3 {
            font-size: 0.6rem;
            margin: 20px;
            font-family: $font-title;
            letter-spacing: 1px;
            text-transform: uppercase;
            text-decoration: 1px underline;
            text-underline-offset: 7px;
            text-decoration-color: $color-border;
          }

          & a:link {
            text-decoration: none;
            color: $color-btn;
          }
          & a:visited {
            text-decoration: none;
            color: $color-btn;
          }
        }
      }

      //! -------------Jewel9 Responsive--------------//
      & .logo-jewel-responsive {
        width: 100%;
        height: 40vh;
        background: black;
        border: 1px solid $color-border;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;

        & img {
          width: 80px;
          padding: 5px;
          transform: translateY(-20px);
        }
        & .imgactive {
          z-index: 1;
          width: 90px;
          height: 120px;
          background: rgb(0, 0, 0);
          border: 0.5px solid $color-border;
          transform: translateY(-20px) scale(2.4);
        }

        & .text9-responsive {
          margin: 0 !important;
          margin-top: 30px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          & button {
            width: 80px;
            height: 30px;
            font-size: 1rem;
          }

          & h3 {
            font-size: 0.6rem;
            margin-top: 20px;
            font-family: $font-title;
            letter-spacing: 1px;
            text-transform: uppercase;
            text-decoration: 1px underline;
            text-underline-offset: 7px;
            text-decoration-color: $color-border;
          }

          & a:link {
            text-decoration: none;
            color: $color-btn;
          }
          & a:visited {
            text-decoration: none;
            color: $color-btn;
          }
        }
      }
    }
  }
}
