.container-intro {
  position: relative;
  height: 180px;
  background: white;
  margin: 35px 30px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  border: 2px solid $color-border;

  & p {
    font-family: $font-title;
    color: $color-btn;
    font-size: 1.6rem;
    letter-spacing: 5px;
    line-height: 35px;
  }
}
#before::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 50%;
  width: 25%;
  height: 2px;
  background: $color-border;
  transform: translateX(10%) scale(0);
  transform-origin: left;
  animation: line-left 10s forwards;
}

#before::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 50%;
  width: 25%;
  height: 2px;
  background: $color-border;
  transform: translateX(-10%) scale(0);
  transform-origin: right;
  animation: line-right 10s forwards;
}

.container-intro::before {
  content: "";
  position: absolute;
  bottom: -20px;
  right: 50%;
  width: 50%;
  height: 1px;
  transform: translateX(50%) scale(0);
  background: $color-border;
  animation: before 3s ease-in-out forwards;
}

@keyframes line-left {
  100% {
    transform: translateX(10%) scale(1);
  }
}
@keyframes line-right {
  100% {
    transform: translateX(-10%) scale(1);
  }
}

//* MEDIA SCREEN //

@media screen and (max-width: 1200px) {
  section.container-intro {
    #before::before {
      width: 18%;
      height: 1px;

      transform: translateX(10%) scale(0);
    }

    #before::after {
      width: 18%;
      height: 1px;

      transform: translateX(-10%) scale(0);
    }
  }
  @keyframes line-left {
    100% {
      transform: translateX(20%) scale(1);
    }
  }
  @keyframes line-right {
    100% {
      transform: translateX(-20%) scale(1);
    }
  }
}

@media screen and (max-width: 950px) {
  section.container-intro {
    height: 120px;

    & p {
      font-family: $font-title;
      color: $color-btn;
      font-size: 1.1rem;
      letter-spacing: 2px;
      line-height: 25px;
    }

    #before::before {
      width: 20%;
      height: 1px;

      transform: translateX(10%) scale(0);
    }

    #before::after {
      width: 20%;
      height: 1px;

      transform: translateX(-10%) scale(0);
    }
  }
  @keyframes line-left {
    100% {
      transform: translateX(20%) scale(1);
    }
  }
  @keyframes line-right {
    100% {
      transform: translateX(-20%) scale(1);
    }
  }
}

@media screen and (max-width: 690px) {
  section.container-intro {
    & p {
      font-size: 0.8rem;
      letter-spacing: 2px;
      line-height: 25px;
      font-weight: 900;
    }

    #before::before {
      width: 15%;
      height: 1px;

      transform: translateX(10%) scale(0);
    }

    #before::after {
      content: "";

      width: 15%;
      height: 1px;

      transform: translateX(-10%) scale(0);
    }
  }
  @keyframes line-left {
    100% {
      transform: translateX(20%) scale(1);
    }
  }
  @keyframes line-right {
    100% {
      transform: translateX(-20%) scale(1);
    }
  }
}
@media screen and (max-width: 505px) {
  section.container-intro {
    & p {
      font-size: 0.8rem;
      letter-spacing: 1px;
      line-height: 25px;
      font-weight: 900;
    }

    #before::before {
      width: 15%;
      height: 1px;

      transform: translateX(10%) scale(0);
    }

    #before::after {
      width: 15%;
      height: 1px;

      transform: translateX(-10%) scale(0);
    }
  }
  @keyframes line-left {
    100% {
      transform: translateX(20%) scale(1);
    }
  }
  @keyframes line-right {
    100% {
      transform: translateX(-20%) scale(1);
    }
  }
}

@media screen and (max-width: 420px) {
  section.container-intro {
    & p {
      font-size: 0.7rem;
      letter-spacing: 1px;
      line-height: 20px;
      font-weight: 200;
    }
  }
}
