.jewels {
  position: relative;

  & .title-jewel {
    margin: 0 auto;
    width: 40%;
    height: 100px;
    background: white;
    border: 2px solid $color-border;
   

    /* text-align: center;
    font-family: $font-title;
    font-size: 2rem;
    font-weight: 100;
    color: $color-btn;
    text-transform: uppercase;
    letter-spacing: 8px; */

    display: flex;
    justify-content: center;
    align-items: center;

    & h1 {
      font-family: $font-logo;
      font-size: 3rem;
      color: $color-btn;
      text-transform: capitalize;
      letter-spacing: 5px;
    }
  }

  & .grid-container-jewels {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 40px;
    gap: 10px;
    align-items: center;

    & .jewel1,
    .jewel3,
    .jewel4,
    .jewel6,
    .jewel7 {
      position: relative;
      border: 1px solid $color-border;
      background: rgba(0, 0, 0, 0.75);
      text-align: center;
      font-size: 1rem;
      width: 90%;
      height: 500px;
      margin: 0 auto;

      & p {
        font-family: $font-paragraph;
        color: white;
        font-weight: 0;
        letter-spacing: 2px;
        padding: 0px 10px;
        height: 150px;
        width: 100%;
        display: flex;
        align-items: center;
      }

      & .text1::before,
      .text3::before,
      .text4::before,
      .text3::before,
      .text6::before,
      .text7::before {
        position: absolute;
        content: "";
        width: 200px;
        height: 2px;
        background: $color-border;
        top: 18px;
        transform: translateX(-50%);
      }

      & button {
        width: 150px;
        height: 35px;
        margin: 5px 0;
        font-size: 1.3rem;
        text-align: center;
        transition: 0.5s;
      }

      & button:hover {
        cursor: pointer;
        text-decoration: underline;
        text-decoration-color: $color-border;
        text-underline-offset: 2px;
        background: black;
        transition: 0.5s;
        transform: scale(1.1);
      }

      & h3 {
        margin: 40px 0;
        text-transform: uppercase;
        font-size: 1rem;
      }

      & h3:hover {
        cursor: pointer;
        text-decoration: underline;
        text-decoration-color: $color-border;
        text-underline-offset: 8px;
        transform: scale(1.1);
        transition: 0.5s;
      }

      & a:link {
        text-decoration: none;
        font-family: $font-paragraph;
        letter-spacing: 2px;
        color: $color-btn;
      }

      & a:visited {
        color: $color-btn;
        font-weight: 100;
      }

      & div {
        position: absolute;
        bottom: 0;
      }
    }

    & img {
      width: 200px;
      height: auto;
    }

    & .jewel5 {
      position: relative;
      display: flex;
      border: 1px solid $color-border;
      background: rgba(0, 0, 0, 0.75);
      text-align: center;
      width: 450px;
      height: 300px;
      margin: 0 auto;
      padding: 10px;
      top: 25px;

      .text5::before {
        position: absolute;
        content: "";
        width: 250px;
        height: 2px;
        background: $color-border;
        top: 50%;
        left: 70px;
        transform: translateX(-50%);
        transform: rotate(90deg);
      }

      & p {
        font-family: $font-paragraph;
        color: white;
        font-weight: 0;
        font-size: 0.9rem;
        letter-spacing: 2px;
        height: 150px;
        display: flex;
        align-items: center;
      }

      & button {
        width: 150px;
        height: 35px;
        margin: 5px 0;
        font-size: 1.3rem;
        text-align: center;
        transition: 0.5s;
      }

      & button:hover {
        cursor: pointer;
        text-decoration: underline;
        text-decoration-color: $color-border;
        text-underline-offset: 2px;
        background: black;
        transition: 0.5s;
        transform: scale(1.1);
      }

      & h3 {
        margin: 40px 0;
        text-transform: uppercase;
        font-size: 1rem;
      }

      & h3:hover {
        cursor: pointer;
        text-decoration: underline;
        text-decoration-color: $color-border;
        text-underline-offset: 8px;
        transform: scale(1.1);
        transition: 0.5s;
      }

      & a:link {
        text-decoration: none;
        font-family: $font-paragraph;
        letter-spacing: 2px;
        color: $color-btn;
      }

      & a:visited {
        color: $color-btn;
        font-weight: 100;
      }
      & img {
        padding: 20px;
      }
    }
    & .jewel8 {
      position: relative;
      display: flex;
      border: 1px solid $color-border;
      background: rgba(0, 0, 0, 0.75);
      text-align: center;
      width: 450px;
      height: 300px;
      margin: 0 auto;
      padding: 10px;
      bottom: 68px;

      .text8::before {
        position: absolute;
        content: "";
        width: 250px;
        height: 2px;
        background: $color-border;
        top: 50%;
        left: 60px;
        transform: translateX(-50%);
        transform: rotate(90deg);
      }

      & p {
        font-family: $font-paragraph;
        color: white;
        font-weight: 0;
        font-size: 0.9rem;
        letter-spacing: 2px;
        height: 150px;
        display: flex;
        align-items: center;
      }

      & button {
        width: 150px;
        height: 35px;
        margin: 5px 0;
        font-size: 1.3rem;
        text-align: center;
        transition: 0.5s;
      }

      & button:hover {
        cursor: pointer;
        text-decoration: underline;
        text-decoration-color: $color-border;
        text-underline-offset: 2px;
        background: black;
        transition: 0.5s;
        transform: scale(1.1);
      }

      & h3 {
        margin: 40px 0;
        text-transform: uppercase;
        font-size: 1rem;
      }

      & h3:hover {
        cursor: pointer;
        text-decoration: underline;
        text-decoration-color: $color-border;
        text-underline-offset: 8px;
        transform: scale(1.1);
        transition: 0.5s;
      }

      & a:link {
        text-decoration: none;
        font-family: $font-paragraph;
        letter-spacing: 2px;
        color: $color-btn;
      }

      & a:visited {
        color: $color-btn;
        font-weight: 100;
      }
    }
    & .jewel2 {
      position: relative;
      border: 1px solid $color-border;
      background: rgba(0, 0, 0, 0.75);
      text-align: center;
      font-size: 1rem;
      width: 80%;
      height: 500px;
      margin: 0 auto;
      top: 99px;

      .text2::before {
        position: absolute;
        content: "";
        width: 250px;
        height: 2px;
        background: $color-border;
        top: 200px;
        transform: translateX(-50%);
      }

      & p {
        font-family: $font-paragraph;
        color: white;
        font-weight: 0;
        letter-spacing: 2px;
        padding: 0px 10px;
        height: 150px;
        width: 100%;
        display: flex;
        align-items: center;
      }

      & button {
        width: 150px;
        height: 35px;
        margin: 5px 0;
        font-size: 1.3rem;
        text-align: center;
        transition: 0.5s;
      }

      & button:hover {
        cursor: pointer;
        text-decoration: underline;
        text-decoration-color: $color-border;
        text-underline-offset: 2px;
        background: black;
        transition: 0.5s;
        transform: scale(1.1);
      }

      & h3 {
        margin: 40px 0;
        text-transform: uppercase;
        font-size: 1rem;
      }

      & h3:hover {
        cursor: pointer;
        text-decoration: underline;
        text-decoration-color: $color-border;
        text-underline-offset: 8px;
        transform: scale(1.1);
        transition: 0.5s;
      }

      & a:link {
        text-decoration: none;
        font-family: $font-paragraph;
        letter-spacing: 2px;
        color: $color-btn;
      }

      & a:visited {
        color: $color-btn;
        font-weight: 100;
      }
    }
  }
  .logo-jewel {
    width: 90%;
    height: 500px;
    border: 1px solid $color-border;
    margin: 0 auto;
    & img {
      display: flex;
      width: 80%;
      margin: 0 auto;
    }
    & button {
      font-size: 1.5rem;
      width: 180px;
      height: 60px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    & button {
      & a:link {
        text-decoration: none;
        color: $color-btn;
      }
      & a:visited {
        color: $color-btn;
      }
    }
    & button:hover {
      cursor: pointer;
      text-decoration: underline;
      text-decoration-color: $color-border;
      text-underline-offset: 2px;
      transition: 0.5s;
      transform: scale(1.1);
      background: black;
    }
  }
  & .grid-container-jewels::before {
    content: "";
    position: absolute;
    bottom: -20px;
    left: -1px;
    width: 50%;
    height: 1px;
    margin: 0 auto;
    transform: translateX(50%) scale(0);
    background: $color-border;
    animation: before 3s ease-in-out forwards;
  }
}

.jewel4,
.jewel6 {
  & img {
    margin-top: 30px;
  }
}

.jewel7 {
  & img {
    margin-top: 20px;
    margin-left: 40px;
  }
}

.jewel5 {
  & img {
    margin-bottom: 20px;
    margin-right: 20px;
  }
}
.jewel8 {
  & img {
    margin-bottom: 50px;
  }
}

.jewels::after {
  content: "";
  position: absolute;
  top: -20px;
  width: 50%;
  height: 1px;
  transform: translateX(50%) scale(0);
  background: $color-border;
  animation: before 3s ease-in-out forwards;
}

//! Les animation css //
@keyframes before {
  100% {
    transform: translateX(50%) scale(1);
  }
}

//* Media Screen //

// Grand - TV (1440) //
@media screen and (min-width: 1440px) {
  section.jewels {
    & .grid-container-jewels-responsive {
      display: none;
    }
    & .grid-container-jewels {
      row-gap: 20px;
      column-gap: 0px;
      & .jewel1,
      .jewel3,
      .jewel4,
      .jewel6,
      .jewel7 {
        font-size: 1.2rem;
        width: 70%;
        & img {
          transition: 0.5s ease-out;
        }

        & img:hover {
          cursor: pointer;
        }

        & p {
          margin-top: 10px;
        }

        & button {
          width: 200px;
          height: 50px;
          margin: 0;
          padding: 0;
        }

        & .text1::before,
        .text3::before,
        .text4::before,
        .text3::before,
        .text6::before,
        .text7::before {
          top: 25px;
        }
      }
      & .jewel2 {
        width: 80%;
        & img:hover {
          cursor: pointer;
        }

        & p {
          font-size: 1.2rem;
          margin-top: 0;
        }
        & button {
          width: 200px;
          height: 50px;
          margin: 0;
          padding: 0;
        }
      }
      & .jewel5 {
        width: 100%;
        & img:hover {
          cursor: pointer;
        }

        & p {
          font-size: 1rem;
          margin-left: 0;
        }
        & button {
          width: 200px;
          height: 50px;
          margin: 0;
          padding: 0;
        }
      }
      & .jewel8 {
        width: 100%;
        & img:hover {
          cursor: pointer;
        }

        & p {
          font-size: 1rem;
          margin-top: 0;
        }
        & button {
          width: 200px;
          height: 50px;
          margin: 0;
          padding: 0;
        }
      }
      & .logo-jewel {
        width: 70%;
      }
    }
  }
}

// 1439px - 1201px //
@media screen and (max-width: 1439px) {
  section.jewels {
    & .grid-container-jewels-responsive {
      display: none;
    }
    & .grid-container-jewels {
      row-gap: 20px;
      column-gap: 0px;
      & .jewel1,
      .jewel3,
      .jewel4,
      .jewel6,
      .jewel7 {
        font-size: 1.2rem;
        width: 70%;

        & img {
          transition: 0.5s ease-out;
        }

        & img:hover {
          cursor: pointer;
        }

        & p {
          margin-top: 10px;
          font-size: 1rem;
          letter-spacing: 1px;
        }

        & button {
          width: 180px;
          height: 50px;
          margin: 0;
          padding: 0;
        }

        & h3 {
          font-size: 0.8rem;
        }

        & .text1::before,
        .text3::before,
        .text4::before,
        .text3::before,
        .text6::before,
        .text7::before {
          top: 25px;
        }
      }
      & .jewel2 {
        width: 80%;

        & img {
          transition: 0.5s ease-out;
        }

        & img:hover {
          cursor: pointer;
        }

        & p {
          margin-top: 10px;
          font-size: 1rem;
          letter-spacing: 1px;
        }

        & button {
          width: 180px;
          height: 50px;
          margin: 0;
          padding: 0;
        }

        & h3 {
          font-size: 0.8rem;
        }

        & p {
          font-size: 1.2rem;
          margin-top: 0;
        }
      }
      & .jewel5 {
        width: 100%;

        & img {
          transition: 0.5s ease-out;
        }

        & img:hover {
          cursor: pointer;
        }

        & p {
          margin-top: 10px;
          font-size: 1rem;
          letter-spacing: 1px;
        }

        & button {
          width: 135px;
          height: 50px;
          margin: 0;
          padding: 0;
        }

        & h3 {
          font-size: 0.7rem;
        }
      }
      & .jewel8 {
        width: 100%;

        & img {
          transition: 0.5s ease-out;
        }

        & img:hover {
          cursor: pointer;
        }

        & p {
          margin-top: 10px;
          font-size: 1rem;
          letter-spacing: 1px;
        }

        & button {
          width: 150px;
          height: 50px;
          margin: 0;
          padding: 0;
        }

        & h3 {
          font-size: 0.7rem;
        }
      }
      & .logo-jewel {
        width: 70%;
      }
    }
  }
}

// Ecran Pc basique 1025px — 1200px //
@media screen and (max-width: 1200px) {
  section.jewels {
    & .grid-container-jewels-responsive {
      display: none;
    }
    & .grid-container-jewels {
      gap: 10px;
      & .jewel1,
      .jewel3,
      .jewel4,
      .jewel6,
      .jewel7 {
        font-size: 0.8rem;
        width: 100%;

        & img {
          transition: 0.5s ease-out;
        }

        & img:hover {
          cursor: pointer;
        }

        & p {
          margin-top: 10px;
        }

        & button {
          width: 150px;
          height: 50px;
          margin: 0;
          padding: 0;
        }

        & h3 {
          font-size: 0.8rem;
        }

        & .text1::before,
        .text3::before,
        .text4::before,
        .text3::before,
        .text6::before,
        .text7::before {
          top: 28px;
          width: 160px;
        }
      }
      & .jewel2 {
        width: 70%;

        & img {
          transition: 0.5s ease-out;
        }

        & img:hover {
          cursor: pointer;
        }

        & .text2::before {
          width: 200px;
        }
        & p {
          font-size: 0.9rem;
        }
        & h3 {
          font-size: 0.8rem;
        }
        & button {
          width: 150px;
          height: 50px;
          margin: 0;
          padding: 0;
        }
      }
      & .jewel5 {
        width: 100%;

        & p {
          font-size: 1rem;
          margin-left: 0;
        }
        & button {
          width: 150px;
          height: 50px;
          margin: 0;
          padding: 0;
        }
        & h3 {
          font-size: 0.8rem;
          width: 200px;
        }
      }
      & .jewel8 {
        width: 100%;

        & p {
          font-size: 1rem;
          margin-top: 0;
        }
        & button {
          width: 150px;
          height: 50px;
          margin: 0;
          padding: 0;
        }
        & h3 {
          font-size: 0.8rem;
        }
      }
      & .logo-jewel {
        width: 100%;
        height: 300px;
        padding: 0;
        margin: 0;
        margin-bottom: 137px;
      }
      & button {
        width: 150px;
        height: 50px;
        font-size: 1.3rem;
      }
    }
  }
}
// Petit ecran et pc 769px — 1024px //
@media screen and (max-width: 1024px) {
  section.jewels {
    & .title-jewel {
      width: 300px;
      height: 100px;
      & h1 {
        font-family: $font-logo;
        font-size: 2rem;
        color: $color-btn;
        letter-spacing: 1px;
      }
    }

    & .grid-container-jewels-responsive {
      display: none;
    }

    & .grid-container-jewels {
      grid-template-columns: 33% 33% 34%;
      grid-template-rows: 33% 33% 34%;
      align-items: center;
      margin: 20px 0;
      gap: 0;
      row-gap: 10px;
      width: 100%;

      & .jewel1,
      .jewel3,
      .jewel4,
      .jewel6,
      .jewel7 {
        position: relative;
        border: 1px solid $color-border;
        background: rgba(0, 0, 0, 0.75);
        text-align: center;
        font-size: 1rem;
        width: 80%;
        height: 500px;

        & .text1::before,
        .text3::before,
        .text4::before,
        .text3::before,
        .text6::before,
        .text7::before {
          position: absolute;
          content: "";
          width: 0px;
          height: 2px;
          background: $color-border;
          top: 0px;
          transform: translateX(-50%);
        }
        & img {
          width: 180px;
          margin: 0;
          margin: 20px auto;
          transition: 0.5s ease-out;
        }

        & img:hover {
          cursor: pointer;
        }

        & p {
          font-size: 0.9rem;
        }

        & button {
          font-size: 1rem;
          width: 110px;
          height: 40px;
        }

        & h3 {
          font-size: 0.7rem;
        }
      }

      & .jewel2 {
        position: relative;
        border: 1px solid $color-border;
        background: rgba(0, 0, 0, 0.75);
        text-align: center;
        font-size: 1rem;
        width: 80%;
        height: 500px;
        margin: 0 auto;
        top: 0px;

        & .text2::before {
          position: absolute;
          content: "";
          width: 0px;
          height: 2px;
          background: $color-border;
          top: 5px;
          transform: translateX(-50%);
        }
        & .text2 {
          position: absolute;
          bottom: 0;
        }

        & img {
          width: 180px;
          margin-top: 20px;
          transition: 0.5s ease-out;
        }
        & img:hover {
          cursor: pointer;
        }

        & p {
          font-size: 0.9rem;
        }

        & h3 {
          font-size: 0.7rem;
        }

        & button {
          font-size: 1rem;
          width: 110px;
          height: 40px;
        }
      }
      & .jewel5 {
        position: relative;
        display: block;
        border: 1px solid $color-border;
        background: rgba(0, 0, 0, 0.75);
        text-align: center;
        font-size: 1rem;
        width: 80%;
        height: 500px;
        top: 0px;

        & .text5 {
          position: absolute;
          bottom: 0;
          left: 0;
        }

        & img {
          width: 150px;
          margin: 0;
          padding: 0;
          transition: 0.5s ease-out;
        }
        & img:hover {
          cursor: pointer;
        }

        & p {
          font-size: 0.9rem;
          padding: 0 10px;
          margin: 0;
        }

        & h3 {
          margin: 0;
          margin: 35px auto;
          width: 180px;
          font-size: 0.7rem;
        }

        & button {
          font-size: 1rem;
          width: 110px;
          height: 40px;
        }

        & .text5::before {
          position: absolute;
          content: "";
          width: 0px;
          height: 2px;
          background: $color-border;
          top: -20px;

          transform: rotate(0deg);
          transform: translateX(0%);
        }
      }
      & .jewel8 {
        position: relative;
        display: block;
        border: 1px solid $color-border;
        background: rgba(0, 0, 0, 0.75);
        text-align: center;
        font-size: 1rem;
        width: 80%;
        height: 500px;
        top: 0px;

        & .text8 {
          position: absolute;
          bottom: 0;
          left: 0;
        }

        & img {
          width: 250px;
          margin: 0;
          padding: 0;
          transition: 0.5s ease-out;
        }
        & img:hover {
          cursor: pointer;
        }

        & p {
          font-size: 0.9rem;
          padding: 0 10px;
          margin: 0;
        }

        & h3 {
          margin: 0;
          margin: 35px auto;
          width: 180px;
          font-size: 0.7rem;
        }

        & button {
          font-size: 1rem;
          width: 110px;
          height: 40px;
        }

        & .text8::before {
          position: absolute;
          content: "";
          width: 0px;
          height: 2px;
          background: $color-border;
          top: -20px;
          transform: rotate(0deg);
        }
      }
      .logo-jewel {
        align-items: center;
        width: 80%;
        height: 300px;
        margin: 0;
        margin: 0 auto;
      }
      & button {
        margin: 0 auto;
      }
    }
  }
}
// tablette 481px — 768px //
@media screen and (max-width: 768px) {
  section.jewels {
    & .title-jewel {
      width: 300px;
      height: 100px;
      & h1 {
        font-family: $font-logo;
        font-size: 2rem;
        color: $color-btn;
        letter-spacing: 1px;
      }
    }

    & .grid-container-jewels-responsive {
      display: none;
    }

    & .grid-container-jewels {
      position: relative;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(5, 1fr);
      grid-template-areas:
        "jewel1 jewel2"
        "jewel3 jewel4"
        "jewel5 jewel6"
        "jewel7 jewel8"
        "logo-jewel logo-jewel";
      margin-top: 20px;

      & .jewel1 {
        grid-area: jewel1;
        & img {
          margin: 0;
          width: 200px;
          transform: none;
        }

        & img:hover {
          cursor: auto;
          transform: none;
          transition: none;
        }

        & .text1 {
          margin: 0;
          padding: 0;

          & p {
            margin: 0;
            padding: 0;
            padding: 10px;
          }
        }
      }
      & .jewel2 {
        grid-area: jewel2;

        & img {
          margin: 0;
          width: 200px;
          margin-top: 20px;
          transition: none;
        }

        & img:hover {
          cursor: auto;
          transform: none;
          transition: none;
        }
        & .text2 {
          margin: 0;
          padding: 0;
        }

        & p {
          margin: 0;
          padding: 0;
          padding: 10px;
        }
      }
      & .jewel3 {
        grid-area: jewel3;
        & img {
          margin: 0;
          width: 200px;
          transform: none;
        }
        & img:hover {
          cursor: auto;
          transform: none;
          transition: none;
        }

        & .text3 {
          margin: 0;
          padding: 0;

          & p {
            margin: 0;
            padding: 0;
            padding: 10px;
          }
        }
      }
      & .jewel4 {
        grid-area: jewel4;
        & img {
          margin: 0;
          width: 200px;
          margin-top: 50px;
          transition: none;
        }
        & img:hover {
          cursor: auto;
          transform: none;
          transition: none;
        }

        & .text4 {
          margin: 0;
          padding: 0;

          & p {
            margin: 0;
            padding: 0;
            padding: 10px;
          }
        }
      }
      & .jewel5 {
        grid-area: jewel5;
        & img {
          margin: 0;
          transition: none;
        }
        & img:hover {
          cursor: auto;
          transform: none;
          transition: none;
        }

        & .text5 {
          margin: 0;
          padding: 0;

          & p {
            margin: 0;
            padding: 0;
            padding: 10px;
          }
        }
      }

      & .jewel6 {
        grid-area: jewel6;
        & img {
          margin: 0;
          width: 250px;
          margin-top: 50px;
          transition: none;
        }
        & img:hover {
          cursor: auto;
          transform: none;
          transition: none;
        }

        & .text6 {
          margin: 0;
          padding: 0;

          & p {
            margin: 0;
            padding: 0;
            padding: 10px;
          }
        }
      }
      & .jewel7 {
        grid-area: jewel7;
        & img {
          margin: 0;
          width: 270px;
          margin-left: 25px;
          transition: none;
        }
        & img:hover {
          cursor: auto;
          transform: none;
          transition: none;
        }

        & .text7 {
          margin: 0;
          padding: 0;

          & p {
            margin: 0;
            padding: 0;
            padding: 10px;
          }
        }
      }
      & .jewel8 {
        grid-area: jewel8;
        & img {
          margin: 0;
          width: 270px;
          margin-left: 20px;
          transition: none;
        }
        & img:hover {
          cursor: auto;
          transform: none;
          transition: none;
        }

        & .text8 {
          margin: 0;
          padding: 0;

          & p {
            margin: 0;
            padding: 0;
            padding: 10px;
          }
        }
      }
      & .logo-jewel {
        position: absolute;
        grid-area: logo-jewel;
        width: 90%;
        top: 0;
        right: 34px;
        margin-top: 20px;
        display: flex;

        & img {
          display: flex;
          width: 250px;
        }
      }
    }
  }
}

// 624px - 481px //
@media screen and (max-width: 624px) {
  section.jewels {
    & .title-jewel {
      width: 300px;
      height: 100px;
      & h1 {
        font-family: $font-logo;
        font-size: 2rem;
        color: $color-btn;
        letter-spacing: 1px;
      }
    }

    & .grid-container-jewels {
      display: none;
    }

    & .grid-container-jewels-responsive {
      position: relative;
      overflow-x: hidden;
      margin-top: 20px;
      gap: 20px;
      display: grid;
      grid-template-rows: repeat(9, 1fr);
      justify-content: center;
      align-items: center;

      & .jewel1-responsive {
        width: 90%;
        height: 40vh;
        background: black;
        border: 1px solid $color-border;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;

        & img {
          width: 150px;
          margin-left: 30px;
          transform: translateY(-20px);
        }

        & .text1-responsive {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          transform: translateY(-30px);

          & button {
            width: 150px;
            height: 40px;
            font-size: 1.2rem;
          }

          & h3 {
            margin: 20px;
            font-family: $font-title;
            letter-spacing: 1px;
            text-transform: uppercase;
            text-decoration: 1px underline;
            text-underline-offset: 7px;
            text-decoration-color: $color-border;
          }

          & a:link {
            text-decoration: none;
            color: $color-btn;
          }
          & a:visited {
            text-decoration: none;
            color: $color-btn;
          }
        }
      }
      & .jewel2-responsive {
        width: 90%;
        height: 40vh;
        background: black;
        border: 1px solid $color-border;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;

        & img {
          width: 140px;
          margin-left: 30px;
          margin: 0;
          transform: translateY(30px);
        }

        & .text2-responsive {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          transform: translateY(50px);

          & button {
            width: 150px;
            height: 40px;
            font-size: 1.2rem;
          }

          & h3 {
            margin: 20px;
            font-family: $font-title;
            letter-spacing: 1px;
            text-transform: uppercase;
            text-decoration: 1px underline;
            text-underline-offset: 7px;
            text-decoration-color: $color-border;
          }

          & a:link {
            text-decoration: none;
            color: $color-btn;
          }
          & a:visited {
            text-decoration: none;
            color: $color-btn;
          }
        }
      }
      & .jewel3-responsive {
        width: 90%;
        height: 40vh;
        background: black;
        border: 1px solid $color-border;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;

        & img {
          width: 170px;
          margin-left: 30px;
          margin: 0;
        }

        & .text3-responsive {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          transform: translateY(-30px);

          & button {
            width: 150px;
            height: 40px;
            font-size: 1.2rem;
          }

          & h3 {
            margin: 20px;
            font-family: $font-title;
            letter-spacing: 1px;
            text-transform: uppercase;
            text-decoration: 1px underline;
            text-underline-offset: 7px;
            text-decoration-color: $color-border;
          }

          & a:link {
            text-decoration: none;
            color: $color-btn;
          }
          & a:visited {
            text-decoration: none;
            color: $color-btn;
          }
        }
      }
      & .jewel4-responsive {
        width: 90%;
        height: 40vh;
        background: black;
        border: 1px solid $color-border;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;

        & img {
          width: 200px;
          margin-left: 30px;
          margin: 0;
          transform: translateY(10px);
        }

        & .text4-responsive {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          transform: translateY(70px);

          & button {
            width: 150px;
            height: 40px;
            font-size: 1.2rem;
          }

          & h3 {
            margin: 20px;
            font-family: $font-title;
            letter-spacing: 1px;
            text-transform: uppercase;
            text-decoration: 1px underline;
            text-underline-offset: 7px;
            text-decoration-color: $color-border;
          }

          & a:link {
            text-decoration: none;
            color: $color-btn;
          }
          & a:visited {
            text-decoration: none;
            color: $color-btn;
          }
        }
      }
      & .jewel5-responsive {
        width: 90%;
        height: 40vh;
        background: black;
        border: 1px solid $color-border;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;

        & img {
          width: 100px;
          margin-left: 30px;
          margin: 0;
        }

        & .text5-responsive {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          transform: translateY(30px);

          & button {
            width: 150px;
            height: 40px;
            font-size: 1.2rem;
          }

          & h3 {
            margin: 20px;
            font-family: $font-title;
            letter-spacing: 1px;
            text-transform: uppercase;
            text-decoration: 1px underline;
            text-underline-offset: 7px;
            text-decoration-color: $color-border;
          }

          & a:link {
            text-decoration: none;
            color: $color-btn;
          }
          & a:visited {
            text-decoration: none;
            color: $color-btn;
          }
        }
      }

      & .jewel6-responsive {
        width: 90%;
        height: 40vh;
        background: black;
        border: 1px solid $color-border;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;

        & img {
          width: 200px;
          margin-left: 30px;
          margin: 0;
          transform: translateY(10px);
        }

        & .text6-responsive {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          transform: translateY(70px);

          & button {
            width: 150px;
            height: 40px;
            font-size: 1.2rem;
          }

          & h3 {
            margin: 20px;
            font-family: $font-title;
            letter-spacing: 1px;
            text-transform: uppercase;
            text-decoration: 1px underline;
            text-underline-offset: 7px;
            text-decoration-color: $color-border;
          }

          & a:link {
            text-decoration: none;
            color: $color-btn;
          }
          & a:visited {
            text-decoration: none;
            color: $color-btn;
          }
        }
      }
      & .jewel7-responsive {
        width: 90%;
        height: 40vh;
        background: black;
        border: 1px solid $color-border;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;

        & img {
          width: 200px;
          margin-left: 30px;
          margin: 0;
          transform: translateY(-20px);
          margin-left: 50px;
        }

        & .text7-responsive {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          transform: translateY(0px);

          & button {
            width: 150px;
            height: 40px;
            font-size: 1.2rem;
          }

          & h3 {
            margin: 20px;
            font-family: $font-title;
            letter-spacing: 1px;
            text-transform: uppercase;
            text-decoration: 1px underline;
            text-underline-offset: 7px;
            text-decoration-color: $color-border;
          }

          & a:link {
            text-decoration: none;
            color: $color-btn;
          }
          & a:visited {
            text-decoration: none;
            color: $color-btn;
          }
        }
      }
      & .jewel8-responsive {
        width: 90%;
        height: 40vh;
        background: black;
        border: 1px solid $color-border;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;

        & img {
          width: 250px;
          margin-left: 30px;
          margin: 0;
          margin-left: 50px;
          transform: translateY(-30px);
        }

        & .text8-responsive {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          transform: translateY(-10px);

          & button {
            width: 150px;
            height: 40px;
            font-size: 1.2rem;
          }

          & h3 {
            margin: 20px;
            font-family: $font-title;
            letter-spacing: 1px;
            text-transform: uppercase;
            text-decoration: 1px underline;
            text-underline-offset: 7px;
            text-decoration-color: $color-border;
          }

          & a:link {
            text-decoration: none;
            color: $color-btn;
          }
          & a:visited {
            text-decoration: none;
            color: $color-btn;
          }
        }
      }
      & .logo-jewel-responsive {
        width: 90%;
        height: 40vh;
        margin: 0 auto;
        background: black;
        border: 1px solid $color-border;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        & img {
          display: flex;
          width: 250px;
          margin: 0 auto;
        }
        & button {
          width: 150px;
          height: 40px;
          font-size: 1.2rem;
          transform: translateY(-40px);
        }
        & a:link {
          text-decoration: none;
          color: $color-btn;
        }
        & a:visited {
          text-decoration: none;
          color: $color-btn;
        }
      }
    }
  }
}

// Telephone 320px —480px //
@media screen and (max-width: 480px) {
  section.jewels {
    & .title-jewel {
      width: 250px;
      height: 100px;
      & h1 {
        font-family: $font-logo;
        font-size: 2rem;
        color: $color-btn;
        letter-spacing: 1px;
      }
    }

    & .grid-container-jewels {
      display: none;
    }

    & .grid-container-jewels-responsive {
      position: relative;
      overflow-x: hidden;
      overflow-y: hidden;
      margin-top: 20px;
      gap: 20px;
      display: grid;
      grid-template-rows: repeat(9, 1fr);
      justify-content: center;
      align-items: center;

      & .jewel1-responsive {
        width: 90%;
        height: 40vh;
        background: black;
        border: 1px solid $color-border;
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;

        & img {
          width: 100px;
          margin-left: 0px;
          transform: translateX(5px) translateY(15px);
        }
        & .imgactive {
          z-index: 1;
          width: 80px;
          height: 90px;
          background: rgb(0, 0, 0);
          border: 0.5px solid $color-border;
          transform: translateY(60px) scale(3);
        }

        & .text1-responsive {
          margin: 0 auto;
          margin-top: 40px;

          & button {
            width: 80px;
            height: 30px;
            font-size: 1rem;
          }

          & h3 {
            font-size: 0.6rem;
            margin: 20px;
            font-family: $font-title;
            letter-spacing: 1px;
            text-transform: uppercase;
            text-decoration: 1px underline;
            text-underline-offset: 7px;
            text-decoration-color: $color-border;
          }

          & a:link {
            text-decoration: none;
            color: $color-btn;
          }
          & a:visited {
            text-decoration: none;
            color: $color-btn;
          }
        }
      }
      & .jewel2-responsive {
        width: 90%;
        height: 40vh;
        background: black;
        border: 1px solid $color-border;
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;

        & img {
          width: 90px;
          margin-left: 0px;
          transform: translateY(40px);
        }
        & .imgactive {
          z-index: 1;
          width: 80px;
          height: 90px;
          background: rgb(0, 0, 0);
          border: 0.5px solid $color-border;
          transform: translateY(60px) scale(3);
        }

        & .text2-responsive {
          margin: 0 auto;
          margin-bottom: 80px;

          & button {
            width: 80px;
            height: 30px;
            font-size: 1rem;
          }

          & h3 {
            font-size: 0.6rem;
            margin: 20px;
            font-family: $font-title;
            letter-spacing: 1px;
            text-transform: uppercase;
            text-decoration: 1px underline;
            text-underline-offset: 7px;
            text-decoration-color: $color-border;
          }

          & a:link {
            text-decoration: none;
            color: $color-btn;
          }
          & a:visited {
            text-decoration: none;
            color: $color-btn;
          }
        }
      }
      & .jewel3-responsive {
        width: 90%;
        height: 40vh;
        background: black;
        border: 1px solid $color-border;
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;

        & img {
          width: 100px;
          margin-left: 0px;
          transform: translateX(5px) translateY(15px);
        }
        & .imgactive {
          z-index: 1;
          width: 80px;
          height: 90px;
          background: rgb(0, 0, 0);
          border: 0.5px solid $color-border;
          transform: translateY(60px) scale(3);
        }

        & .text3-responsive {
          margin: 0 auto;
          margin-top: 30px;

          & button {
            width: 80px;
            height: 30px;
            font-size: 1rem;
          }

          & h3 {
            font-size: 0.6rem;
            margin: 20px;
            font-family: $font-title;
            letter-spacing: 1px;
            text-transform: uppercase;
            text-decoration: 1px underline;
            text-underline-offset: 7px;
            text-decoration-color: $color-border;
          }

          & a:link {
            text-decoration: none;
            color: $color-btn;
          }
          & a:visited {
            text-decoration: none;
            color: $color-btn;
          }
        }
      }
      & .jewel4-responsive {
        width: 90%;
        height: 40vh;
        background: black;
        border: 1px solid $color-border;
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;

        & img {
          width: 100px;
          margin-left: 0px;
          transform: translateY(40px);
        }
        & .imgactive {
          z-index: 1;
          width: 80px;
          height: 90px;
          background: rgb(0, 0, 0);
          border: 0.5px solid $color-border;
          transform: translateY(60px) scale(3);
        }

        & .text4-responsive {
          margin: 0 auto;
          margin-bottom: 100px;

          & button {
            width: 80px;
            height: 30px;
            font-size: 1rem;
          }

          & h3 {
            font-size: 0.6rem;
            margin: 20px;
            font-family: $font-title;
            letter-spacing: 1px;
            text-transform: uppercase;
            text-decoration: 1px underline;
            text-underline-offset: 7px;
            text-decoration-color: $color-border;
          }

          & a:link {
            text-decoration: none;
            color: $color-btn;
          }
          & a:visited {
            text-decoration: none;
            color: $color-btn;
          }
        }
      }
      & .jewel5-responsive {
        width: 90%;
        height: 40vh;
        background: black;
        border: 1px solid $color-border;
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;

        & img {
          width: 70px;
          margin-left: 0px;
          transform: translateX(5px) translateY(20px);
        }
        & .imgactive {
          z-index: 1;
          width: 80px;
          height: 90px;
          background: rgb(0, 0, 0);
          border: 0.5px solid $color-border;
          transform: translateY(60px) scale(3);
        }

        & .text5-responsive {
          margin: 0 auto;
          margin-bottom: 55px;

          & button {
            width: 80px;
            height: 30px;
            font-size: 1rem;
          }

          & h3 {
            font-size: 0.6rem;
            margin: 20px;
            font-family: $font-title;
            letter-spacing: 1px;
            text-transform: uppercase;
            text-decoration: 1px underline;
            text-underline-offset: 7px;
            text-decoration-color: $color-border;
          }

          & a:link {
            text-decoration: none;
            color: $color-btn;
          }
          & a:visited {
            text-decoration: none;
            color: $color-btn;
          }
        }
      }

      & .jewel6-responsive {
        width: 90%;
        height: 40vh;
        background: black;
        border: 1px solid $color-border;
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;

        & img {
          width: 120px;
          margin-left: 0px;
          transform: translateX(0px) translateY(40px);
        }
        & .imgactive {
          z-index: 1;
          width: 80px;
          height: 90px;
          background: rgb(0, 0, 0);
          border: 0.5px solid $color-border;
          transform: translateY(60px) scale(3);
        }

        & .text6-responsive {
          margin: 0 auto;
          margin-bottom: 100px;

          & button {
            width: 80px;
            height: 30px;
            font-size: 1rem;
          }

          & h3 {
            font-size: 0.6rem;
            margin: 20px;
            font-family: $font-title;
            letter-spacing: 1px;
            text-transform: uppercase;
            text-decoration: 1px underline;
            text-underline-offset: 7px;
            text-decoration-color: $color-border;
          }

          & a:link {
            text-decoration: none;
            color: $color-btn;
          }
          & a:visited {
            text-decoration: none;
            color: $color-btn;
          }
        }
      }
      & .jewel7-responsive {
        width: 90%;
        height: 40vh;
        background: black;
        border: 1px solid $color-border;
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;

        & img {
          width: 150px;
          margin-left: 0px;
          transform: translateX(10px) translateY(0px);
        }
        & .imgactive {
          z-index: 1;
          width: 80px;
          height: 90px;
          background: rgb(0, 0, 0);
          border: 0.5px solid $color-border;
          transform: translateY(60px) scale(3);
        }

        & .text7-responsive {
          margin: 0 auto;
          margin-bottom: 20px;

          & button {
            width: 80px;
            height: 30px;
            font-size: 1rem;
          }

          & h3 {
            font-size: 0.6rem;
            margin: 20px;
            font-family: $font-title;
            letter-spacing: 1px;
            text-transform: uppercase;
            text-decoration: 1px underline;
            text-underline-offset: 7px;
            text-decoration-color: $color-border;
          }

          & a:link {
            text-decoration: none;
            color: $color-btn;
          }
          & a:visited {
            text-decoration: none;
            color: $color-btn;
          }
        }
      }
      & .jewel8-responsive {
        width: 90%;
        height: 40vh;
        background: black;
        border: 1px solid $color-border;
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;

        & img {
          width: 150px;
          margin-left: 0px;
          transform: translateX(17px) translateY(-25px);
        }
        & .imgactive {
          z-index: 1;
          width: 80px;
          height: 90px;
          background: rgb(0, 0, 0);
          border: 0.5px solid $color-border;
          transform: translateY(60px) scale(3);
        }

        & .text8-responsive {
          margin: 0 auto;

          & button {
            width: 80px;
            height: 30px;
            font-size: 1rem;
          }

          & h3 {
            font-size: 0.6rem;
            margin: 20px;
            font-family: $font-title;
            letter-spacing: 1px;
            text-transform: uppercase;
            text-decoration: 1px underline;
            text-underline-offset: 7px;
            text-decoration-color: $color-border;
          }

          & a:link {
            text-decoration: none;
            color: $color-btn;
          }
          & a:visited {
            text-decoration: none;
            color: $color-btn;
          }
        }
      }
      & .logo-jewel-responsive {
        width: 90%;
        height: 30vh;
        margin: 0 auto;
        background: black;
        border: 1px solid $color-border;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        & img {
          display: flex;
          width: 180px;
          margin: 0 auto;
          transform: translateX(-8px);
        }
        
        & .imgactive {
          z-index: 1;
          width: 80px;
          height: 90px;
          background: rgb(0, 0, 0);
          border: 0.5px solid $color-border;
          transform: translateY(60px) scale(3);
        }
        & button {
          width: 100px;
          height: 40px;
          font-size: 1.2rem;
          transform: translateY(-40px);
        }
        & a:link {
          text-decoration: none;
          color: $color-btn;
        }
        & a:visited {
          text-decoration: none;
          color: $color-btn;
        }
      }
    }
  }
}
