.container-intro {
  position: relative;
  height: 200px;
  background: white;
  margin: 35px 30px;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  border: 2px solid $color-border;

  & p {
    font-family: $font-paragraph;
    color: $color-btn;
    font-style: italic;
    font-weight: 800;
    font-size: 1.6rem;
    letter-spacing: 3px;
    line-height: 55px;
  }
}
#before::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 50%;
  width: 25%;
  height: 2px;
  background: $color-border;
  transform: translateX(10%) scale(0);
  transform-origin: left;
  animation: line-left 10s forwards;
}

#before::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 50%;
  width: 25%;
  height: 2px;
  background: $color-border;
  transform: translateX(-10%) scale(0);
  transform-origin: right;
  animation: line-right 10s forwards;
}

.container-intro::before {
  content: "";
  position: absolute;
  bottom: -20px;
  right: 50%;
  width: 50%;
  height: 1px;
  transform: translateX(50%) scale(0);
  background: $color-border;
  animation: before 3s ease-in-out forwards;
}

@keyframes line-left {
  100% {
    transform: translateX(10%) scale(1);
  }
}
@keyframes line-right {
  100% {
    transform: translateX(-10%) scale(1);
  }
}

//* MEDIA SCREEN //
//
@media screen and (min-width: 1440px) and (max-width: 1440px) {
  .container-intro {
    padding: 0 10px;

    & .text {
      padding: 20px;

      & p {
        width: 100%;
        font-size: 1.3rem;
        letter-spacing: 2px;
        line-height: 55px;
      }
    }
  }
}

// 1439px - 1201px Ecran Pc //
@media screen and (min-width: 1201px) and (max-width: 1439px) {
  .container-intro {
    padding: 0 10px;

    & p {
      font-size: 1.1rem;
      letter-spacing: 2px;
      line-height: 55px;
    }
  }
}
// Petit ecran et pc 769px — 1024px //
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .container-intro {
    & p {
      font-size: 1rem;
      letter-spacing: 2px;
      line-height: 40px;
    }
  }
  #before::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 50%;
    width: 15%;
    height: 2px;
    background: $color-border;
    transform: translateX(10%) scale(0);
    transform-origin: left;
    animation: line-left 10s forwards;
  }

  #before::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 50%;
    width: 15%;
    height: 2px;
    background: $color-border;
    transform: translateX(-10%) scale(0);
    transform-origin: right;
    animation: line-right 10s forwards;
  }
}
// tablette 481px — 768px //
@media screen and (min-width: 481px) and (max-width: 768px) {
  .container-intro {
    & p {
      font-size: 1rem;
      letter-spacing: 1.5px;
      line-height: 30px;
      font-weight: 800;
    }
  }
  #before::before {
    width: 20%;
  }

  #before::after {
    width: 20%;
  }
}
// Telephone 320px —480px //
@media screen and (min-width: 320px) and (max-width: 480px) {
  .container-intro {
    & p {
      font-size: 0.8rem;
      letter-spacing: 1px;
      line-height: 20px;
      font-weight: 100;
    }
  }
  #before::before {
    width: 0%;
  }

  #before::after {
    width: 0%;
  }
}
